img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

p {
  margin-bottom: 0;
}

.place-manage.container {
  max-width: 1100px;
}

.launch-title {
  display: inline-block;
  color: #049DD9;
  position: relative;
}

.launch-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  right: 0;
  background-color: #049DD9;
}

.btn {
  box-sizing: border-box;
}

    .btn:focus, .btn-close:focus, input:focus, .submit-btn:focus, .cancel-btn:focus {
        box-shadow: none;
    }

.add-btn, .discontinue-modal .submit-btn {
    background-color: #049DD9;
    color: white;
}

    .add-btn:hover, .discontinue-modal .submit-btn:hover {
        background-color: #0485b8;
        color: white;
    }

.edit-btn {
  color: #049DD9;
  position: relative;
}

.edit-btn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #049DD9;
  transition: .3s;
}

.edit-btn:hover {
  color: #049DD9;
}

.edit-btn:hover::after {
  width: 80%;
  transform: translateX(-50%);
  transition: .3s;
}

.discontinue-btn, .republish-btn {
    background-color: #D9831A;
    color: white;
}

    .discontinue-btn:hover, .republish-btn:hover {
        background-color: #b16911;
        color: white;
    }

.discontinue-modal input {
    font-size: 16px;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

.discontinue-modal input:focus {
    outline: none;
}

.discontinue-modal input::placeholder {
    color: #000000;
}

.discontinue-modal .submit-btn, .discontinue-modal .cancel-btn {
    border: none;
}

.form-control[readonly] {
    background-color: white;
}

.cancel-discontinue-btn {
    background-color: #de6868;
    color: white;
}

.cancel-discontinue-btn:hover {
    background-color: #d64c15;
    color: white;
}

.btn_close {
    background-color: #de6868;
    color: #fff;
}

.btn_close:hover {
    background-color: #982626;
    color: #fff;
}

.myshockicon {
    font-size: 80px;
}

.fa-exclamation-circle {
    background-color: #D9831A;
    border-radius: 50%;
    border: 3px solid #D9831A;
    color: #fff;
}

.venue-pic {
    width: 100%;
    padding-top: 60%;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

a.venue-link:hover {
  color: #049DD9;
}

.fa-map-marker-alt {
    color: #049DD9;
}

.fa-star,
.fa-star-half-alt {
  color: #049DD9;
}

.place-manage .review-count::before{
  content: "(";
}

.place-manage .review-count::after{
  content: ")";
}

.booking-count {
  color: #049DD9;
  position: relative;
}

.booking-count:hover {
  color: #049DD9;
}

.discontinue-title {
  display: inline-block;
  color: #D9831A;
  position: relative;
}

.discontinue-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  right: 0;
  background-color: #D9831A;
}

.discontinued h3,
.discontinued p,
.discontinued i,
.discontinued .booking-count {
  color: #cccccc;
  text-decoration: line-through;
}

.delete-btn {
  color: white;
  background-color: #de6868;
}

.delete-btn:hover {
  color: white;
  background-color: #d64c15;;
}

.delete-modal i {
    color: #fff;
}
