img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.member_container {
    max-width: 1140px;
}

.member_card img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid #049DD9;
}

.member_verifcation_item {
    background-color: #F5F5F5;
    padding: 10px;
    margin-bottom: 5px;
}

.member_choose {
    border-bottom: 1px solid #CCCCCC;
}

.fa-comment-dots {
    cursor: pointer;
    color: #049DD9;
}

.myplace_space_card {
    position: relative;
}

    .myplace_space_card img {
        width: 100%;
    }

.myplace_title {
    border-bottom: 2px solid transparent;
}

    .myplace_title:hover {
        color: #67cbf3;
        border-bottom: 3px solid #049DD9;
    }

.myplace_title {
    text-decoration: none;
    color: #000;
}

.active {
    border-bottom: 2px solid #049DD9;
}

.fa-pencil-alt,
.fa-check,
.fa-heart {
    color: #049DD9;
}

.fa-times {
    color: #DE6868;
}

.space_card_title {
    color: #000;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

    .space_card_title:hover {
        color: #049DD9;
    }

.space_card_location:hover {
    color: #CCCCCC;
}

.fa-star, .fa-star-half-alt {
    color: #D9831A;
}

@media only screen and (min-width: 600px) {
    .space_card_pic img {
        height: 300px;
    }
}

.reviewsfromhost_review_card {
    border-bottom: 1px solid #CCCCCC;
}

    .reviewsfromhost_review_card img {
        width: 75px;
        height: 75px;
        border-radius: 100%;
        border: 2px solid #049DD9;
        display: block;
        margin: auto;
    }

.reviewsfromhost_review_card_txt a:nth-child(1) {
    color: #000;
}

.reviewsfromhost_review_card_txt_location_a span {
    color: #CCCCCC;
}

    .reviewsfromhost_review_card_txt a:nth-child(1):hover,
    .reviewsfromhost_review_card_txt_location_a span:hover,
    .reviewsfromhost_review_card_txt a:hover {
        color: #049DD9;
    }

.reviewsfromhost_review_card_txt a {
    text-decoration: none;
    color: #CCCCCC;
}

.reviewsfromhost_review_card_txt_date {
    margin-bottom: 0px;
    color: #CCCCCC;
}

.reviewsfromhost_review_card_txt_place {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


@media (max-width:480px) {
    .myplace_title {
        font-size: large;
    }
}


@media (max-width:768px) {
    .member_card_introduce_name {
        text-align: center;
    }

    .member_verifcation_aboutme {
        padding-right: 20px;
    }

    .reviewsfromhost_review_card_txt_name {
        text-align: center;
    }

    .reviewsfromhost_review_card_txt_star {
        text-align: center;
    }

    .reviewsfromhost_review_card_txt_check {
        text-align: center;
    }
}
