
@{
    ViewBag.Title = "SellerOrderCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="memberSeller_order_status container mt-5">
    <div class="memberSeller row">
        <ul class="memberSeller_state d-flex justify-content-start mt-5">
            <a class="me-4" href="Processing">
                <li class="p-2">處理中</li>
            </a>
            <a class="me-4" href="Completed">
                <li class="p-2">歷史訂單</li>
            </a>
        </ul>
    </div>
</div>
<div class="main">
    <div class="search-orders container border-top">
        <div class="row mt-2">
            <div class="col-12 d-lg-none">
                <button class="btn w-100" data-bs-toggle="modal" data-bs-target="#search-modal"><i class="fas fa-search me-2"></i>搜尋訂單</button>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <input type="text" class="form-control" placeholder="輸入訂單編號" id="order-id">
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <input type="text" class="form-control" placeholder="輸入場地編號" id="space-id">
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <input type="text" class="form-control" placeholder="輸入場地名稱" id="space-name">
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <input type="text" class="form-control" placeholder="輸入訂購人" id="member-name">
            </div>
            <div class="col col-date d-none d-lg-block">
                <input class="choose-date flatpickr flatpickr-input w-100" type="text" placeholder="選擇時段" readonly="readonly">
            </div>
            <div class="col col-btn d-none d-lg-block">
                <button class="search-orders-btn btn w-100"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="search-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">搜尋訂單</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control w-100 mb-2" placeholder="輸入訂單編號" id="order-id">
                    <input type="text" class="form-control w-100 mb-2" placeholder="輸入場地編號" id="space-id">
                    <input type="text" class="form-control w-100 mb-2" placeholder="輸入場地名稱" id="space-name">
                    <input type="text" class="form-control w-100 mb-2" placeholder="輸入訂購人" id="member-name">
                    <input class="choose-date flatpickr flatpickr-input w-100 mb-2" type="text" placeholder="選擇時段" readonly="readonly">
                    <button class="search-orders-btn btn w-100"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>


    <div class="memberSeller_container container mt-2">
        <div class=" row d-flex border-top  justify-content-start ">
            <div class="col-12 col-lg-3 mt-5 ">
                <p>訂單編號：<span>2109020001</span></p>
            </div>
            <div class="col-12  col-lg-3 mt-lg-5 ">
                <p>場地編號：<span>2109020001</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col memberSeller_completed_pic col-12 col-lg-6 col-xl-3 ">
                <div>
                    <img class="p-2 mt-2" src="https://picsum.photos/300/200/?random=1">
                </div>
            </div>
            <div class="memberSeller_completed_txt_title col-12 col-md-6 col-lg-6  col-xl-6  mt-3 ">
                <h6>場地名稱：Good Space</h6>
                <p>訂購人：<span>王曉明</span></p>
                <p>訂單成立時間：<span class="me-2">2021年10月01日</span><span class="me-2">星期二</span><span class="me-2">13:00</span></p>
                <p>訂單取消時間：<span class="me-2">2021年10月01日</span><span class="me-2">星期二</span><span class="me-2">13:00</span></p>
                <p>租借時間：<span class="me-2">2021年10月01日</span><span class="me-2">星期二</span><span class="me-2 ">09:00</span></p>
                <!-- <p><span class="textms  d-inline d-md-none d-lg-none">星期二</span><span class="ms-2 d-inline d-md-none d-lg-none" >09:00</span></p></p> -->
                <p>租還時間：<span class="me-2">2021年10月01日</span><span class="me-2">星期二</span><span class="me-2">13:00</span></p>
                <!-- <p><span class="textms  d-inline d-md-none d-lg-none">星期二</span><span class="ms-2 d-inline d-md-none d-lg-none" >13:00</span></p></p> -->
                <div class="row">
                    <div class="price mt-5 col-12 d-flex   d-md-none d-lg-flex d-xl-none justify-content-end align-text-bottom  text-end">
                        <p class="fs18 ZoneRadarB">
                            訂單價格：
                            <span class=" memberSeller_completed_txt_price ">TWD1,000元</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-none d-md-flex d-lg-none d-xl-flex  col-lg-6 col-xl-4  justify-content-end align-text-bottom  mt-auto text-end">
                <p class="fs18 ZoneRadarB">
                    訂單價格：
                    <span class=" memberSeller_completed_txt_price ">TWD1,000元</span>
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-lg-12 mt-5 text-end  Evaluation">
                訂單已結案：<span class="me-2 CurrentState"><button data-bs-toggle="modal" data-bs-target="#Evaluation_Modal" class=" btn EvaluationBtn">給個評價</button></span>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Evaluation_Modal" tabindex="-1" aria-labelledby="order_ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Evaluation_ModalLabel">訂單編號：<span>2109020001</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="score_star mt-2">
                        <p>您對於這次與客戶合作愉快程度為幾顆星：</p>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="customer_evaluation mt-3">
                        <p>您對於這次的客戶在場地使用上有什麼需要需要注意的？</p>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <i class="me-1 fas fa-check"></i>我還會想再次接待他們
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <i class=" me-1 fs-5 fas fa-times"></i> 我不會想再次接待他們
                        </label>
                    </div>

                </div>
                <div class="modal-footer EvaluationSendOut">
                    <button type="button" class="btn btn_close" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn ">送出</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS
{
    <link href="~/Assets/CSS/membercenter/Seller_completedstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
}
@section endJS{
    <script src="~/Assets/JS/hostSellerCompleted/SellerOrderCompleted.js"></script>
    }
