
@{
    ViewBag.Title = "EditSpace";
}

<div class="place-manage container my-5">
    <div class="header d-flex justify-content-between align-items-center my-3 my-md-5">
        <h2 class="mb-0">管理我的場地</h2>
        <button class="add-btn btn">新增場地</button>
    </div>
    <h3 class="launch-title my-3 mb-md-0">已上架的場地</h3>
    <div class="launched row justify-content-between gx-5">
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=1);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 台大分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10617台北市大安區羅斯福路四段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><span class="review-count ms-2">10</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">4</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="discontinue-btn btn">下架</button></p>
        </div>
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=8);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 北科分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10608台北市大安區忠孝東路三段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="review-count ms-2">5</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">2</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="discontinue-btn btn">下架</button></p>
        </div>
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=7);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 北科分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10608台北市大安區忠孝東路三段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="review-count ms-2">5</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">2</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="discontinue-btn btn">下架</button></p>
        </div>
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=6);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 北科分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10608台北市大安區忠孝東路三段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="review-count ms-2">5</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">2</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="discontinue-btn btn">下架</button></p>
        </div>
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=5);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 北科分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10608台北市大安區忠孝東路三段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="review-count ms-2">5</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">2</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="discontinue-btn btn">下架</button></p>
        </div>
    </div>
    <h3 class="discontinue-title my-3 mb-md-0">已下架的場地</h3>
    <div class="discontinued row justify-content-between gx-5">
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=1);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 台大分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10617台北市大安區羅斯福路四段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><span class="review-count ms-2">10</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">4</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="delete-btn btn">永久刪除</button></p>
        </div>
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=8);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 北科分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10608台北市大安區忠孝東路三段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="review-count ms-2">5</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">2</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="delete-btn btn">永久刪除</button></p>
        </div>
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=7);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 北科分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10608台北市大安區忠孝東路三段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="review-count ms-2">5</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">2</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="delete-btn btn">永久刪除</button></p>
        </div>
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=6);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 北科分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10608台北市大安區忠孝東路三段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="review-count ms-2">5</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">2</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="delete-btn btn">永久刪除</button></p>
        </div>
        <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
            <div class="venue-pic mb-3" style="background-image: url(https://picsum.photos/1920/1080/?random=5);"></div>
            <a href="#" class="venue-link"><h3 class="venue-name mb-3">Good Space Taipei 北科分館</h3></a>
            <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">10608台北市大安區忠孝東路三段1號</span></p>
            <p class="rating mb-4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span class="review-count ms-2">5</span></p>
            <p>近30天的被預定次數:<a href="#" class="booking-count mx-2 fs-5">2</a>次</p>
            <p class="text-end pt-3 pb-4 border-bottom border-3"><buttn class="edit-btn btn me-3">編輯場地</buttn><button class="delete-btn btn">永久刪除</button></p>
        </div>
    </div>
</div>


