img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.member_container {
    max-width: 1140px;
}

.memberbuyer_container {
    margin-top: -50px;
}

.memberbuyer_title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -20px;
}

.memberbuyer_state {
    list-style: none;
}

    .memberbuyer_state a {
        text-decoration: none;
        color: #000;
        border-bottom: 2px solid transparent;
    }

        .memberbuyer_state a:hover {
            color: #cccccc;
            border-bottom: 2px solid #D9831A;
        }

.active {
    color: #000;
    border-bottom: 2px solid #D9831A;
}

.fa-star {
    color: #D9831A;
}

.memberbuyer_completed {
    border-bottom: 1px solid #DEE2E6;
}

.memberbuyer_completed_num {
    color: #D9831A;
}

    .memberbuyer_completed_num a {
        text-decoration: none;
        color: #fff;
        background-color: #D9831A;
        border-radius: 10px;
    }

        .memberbuyer_completed_num a:hover {
            background-color: #be7418;
        }

.memberbuyer_completed_num_completed {
    display: inline-block;
    text-align: right;
}

.memberbuyer_completed_pic img {
    width: 100%;
}

.memberbuyer_completed_txt_title a {
    text-decoration: none;
    color: #000;
}

    .memberbuyer_completed_txt_title a:hover {
        color: #cccccc
    }


.memberbuyer_completed_txt_price {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.memberbuyer_completed_txt_price_title {
    color: #D9831A;
    font-weight: bolder;
    text-align: right;
    margin: 0px;
}

.memberbuyer_completed_txt_price {
    color: #D9831A;
    font-weight: bolder;
    font-size: 35px;
}

.memberbuyer_completed_btn .btn {
    background-color: #fff;
    border: 1px solid #cccccc;
    color: #000;
}

    .memberbuyer_completed_btn .btn:hover {
        background-color: #CCCCCC;
        border: 1px solid #cccccc;
        color: #fff;
    }

    .memberbuyer_completed_btn .btn:nth-child(2) {
        background-color: #D9831A;
        color: #fff;
    }

        .memberbuyer_completed_btn .btn:nth-child(2):hover {
            background-color: #be7418;
        }

.btn:focus {
    box-shadow: none;
}

.btn_close {
    background-color: #fff;
    border: 1px solid #cccccc;
    color: #000;
}

    .btn_close:hover {
        background-color: #CCCCCC;
        border: 1px solid #cccccc;
        color: #fff;
    }

.btn_sendout {
    background-color: #d9831a;
    color: #fff;
}

    .btn_sendout:hover {
        background-color: #be7418;
        color: #fff;
    }

.text-decoration-line-through {
    color: #CCCCCC;
}

.cancel,
.cancel p,
.cancel a {
    text-decoration: line-through;
    color: #CCCCCC;
}


@media (max-width:767px) {
    .memberbuyer_completed_num_ordernum {
        text-align: left;
    }

    .memberbuyer_completed_num_completed {
        text-align: left;
    }

    .fa-wifi,
    .fa-video,
    .fa-briefcase-medical {
        padding: 10px !important;
    }

    .memberbuyer_completed_txt_price_title {
        font-size: 10px;
    }

    .memberbuyer_completed_txt_price {
        font-size: 25px;
    }


    .memberbuyer_completed_num,
    .memberbuyer_completed_pic,
    .memberbuyer_completed_txt {
        border-bottom: none;
    }
}
