@{
    ViewBag.Title = "Bad Request";
}

<div class="bad-request-container">
    <img class="bad-request d-block mx-auto" src="~/Assets/IMG/400BadRequest.png" alt="400BadRequest" />
</div>

@section topCSS {
    <style>
        .bad-request-container {
            max-width: 1100px;
            margin: auto;
        }

        .bad-request {
            max-width: 100%;
            height: auto;
        }
    </style>
}
