@{
    ViewBag.Title = "Home Page";
}

<!-- 幻燈片 -->
<div class="homepage-carousel position-relative">
    <div class="slide-img-group position-relative w-100">
        <div class="slide-img position-absolute top-0 start-0 w-100 h-100">
            <h2 class="main-title-location position-absolute text-white fw-bolder">lecture</h2>
        </div>
        <div class="slide-img position-absolute top-0 start-0 w-100 h-100">
            <h2 class="main-title-location position-absolute text-white fw-bolder">party</h2>
        </div>
        <div class="slide-img position-absolute top-0 start-0 w-100 h-100">
            <h2 class="main-title-location position-absolute text-white fw-bolder">meeting</h2>
        </div>
    </div>
    <h2 class="main-title position-absolute text-white fw-bolder">Your next</h2>
    <h2 class="main-title position-absolute text-white fw-bolder">starts here</h2>
    <!-- 首頁搜尋列 -->
    <div class="homepage-search w-100">
        <form action="" class="row justify-content-center justify-content-md-start mx-0 py-3 py-md-0">
            <!--活動性質-->
            <div class="col-11 col-md-3 col-lg-2 mb-2 mb-md-0 ms-md-5">
                <select class="select-activity form-select form-select-lg" aria-label="choose-activity">
                    <option selected class="d-none">活動性質</option>
                    <option value="1">會議</option>
                    <option value="2">派對</option>
                    <option value="3">聚會</option>
                    <option value="4">私人談話</option>
                    <option value="5">課程講座</option>
                    <option value="6">運動</option>
                    <option value="7">工作</option>
                    <option value="8">展覽</option>
                    <option value="9">音樂/表演</option>
                    <option value="10">婚禮</option>
                    <option value="11">拍照/攝影</option>
                    <option value="12">美容</option>
                    <option value="13">烹飪</option>
                    <option value="14">儲物</option>
                    <option value="15">發表會</option>
                    <option value="16">親子活動</option>
                    <option value="17">其他</option>
                </select>
            </div>
            <!--地點-->
            <div class="col-11 col-md-3 col-lg-2 mb-2 mb-md-0">
                <select class="select-county form-select form-select-lg" aria-label="choose-county">
                    <option selected class="d-none">地點</option>
                    <option value="1">台北市</option>
                    <option value="2">新北市</option>
                    <option value="3">台中市</option>
                    <option value="4">台南市</option>
                    <option value="5">高雄市</option>
                    <option value="6">基隆市</option>
                    <option value="7">新竹市</option>
                    <option value="8">嘉義市</option>
                    <option value="9">桃園市</option>
                    <option value="10">新竹縣</option>
                    <option value="11">苗栗縣</option>
                    <option value="12">彰化縣</option>
                    <option value="13">南投縣</option>
                    <option value="14">雲林縣</option>
                    <option value="15">嘉義縣</option>
                    <option value="16">屏東縣</option>
                    <option value="17">宜蘭縣</option>
                    <option value="18">花蓮縣</option>
                    <option value="19">台東縣</option>
                    <option value="20">澎湖縣</option>
                    <option value="21">金門縣</option>
                    <option value="22">連江縣</option>
                </select>
            </div>
            <!--人數-->
            <div class="col-11 col-md-3 col-lg-2 mb-2 mb-md-0">
                <select class="select-people form-select form-select-lg" aria-label="choose-people">
                    <option selected class="d-none">活動人數</option>
                    <option value="1">--</option>
                    <option value="2">1-10</option>
                    <option value="3">11-20</option>
                    <option value="4">21-40</option>
                    <option value="5">41-60</option>
                    <option value="6">61-80</option>
                    <option value="7">81-100</option>
                    <option value="8">101-200</option>
                    <option value="9">201-300</option>
                    <option value="10">301-400</option>
                    <option value="11">401-500</option>
                    <option value="12">500+</option>
                </select>
            </div>
            <div class="col-11 col-md-2 col-lg-2"><button class="btn text-white w-100 h-100" id="homepage-search-submit" type="submit">找場地</button></div>
        </form>
    </div>
</div>

<!-- Swiper：活動圖片 -->
<div class="container mt-5 position-relative">
    <!-- Swiper -->
    <div class="swiper swiper-activity">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-lecture">
                <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">課程講座</span>
                </a>
            </div>
            <div class="swiper-slide swiper-slide-party">
                <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">派對</span>
                </a>
            </div>
            <div class="swiper-slide swiper-slide-meeting">
                <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">會議</span>
                </a>
            </div>
            <div class="swiper-slide swiper-slide-dinner">
                <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">聚會餐敘</span>
                </a>
            </div>
            <div class="swiper-slide swiper-slide-photograph">
                <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">拍攝攝影</span>
                </a>
            </div>
            <div class="swiper-slide swiper-slide-announce">
                <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">發表會</span>
                </a>
            </div>
            <div class="swiper-slide swiper-slide-concert">
                <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">音樂表演</span>
                </a>
            </div>
            <div class="swiper-slide swiper-slide-exhibition">
                <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">靜態展覽</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-activity-button-next d-none d-md-inline-block"></div>
    <div class="swiper-button-prev swiper-activity-button-prev d-none d-md-inline-block"></div>
</div>

<!-- Why ZONERadar -->
<div class="characteristic-section w-100 mt-5 text-center text-md-start">
    <div class="container">
        <div class="row">
            <div class="col-sm-img col-12 px-0 d-md-none">
                <img src="https://images.unsplash.com/photo-1583135630256-a25ea659d1d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" alt="characteristic-space" class="w-100">
            </div>
            <div class="col-md-img col-6 d-none d-md-block">
            </div>
            <div class="col-text col-12 col-md-6 col-lg-4 px-5">
                <h4 class="fw-bolder mb-5">Why ZONERadar?</h4>
                <h6 class="fw-bolder mb-3">獨特的空間</h6>
                <p class="mb-4">每天我們都會有新的、有創意的空間——從社區畫廊到隱藏的屋頂等等。</p>
                <h6 class="fw-bolder mb-3">誠實定價</h6>
                <p class="mb-4">我們的空間定價適合您的預算。 按小時付費，無需擔心隱藏費用。</p>
                <h6 class="fw-bolder mb-3">預定流程順暢</h6>
                <p class="mb-0">不再有凌亂的合同。 我們構建了工具，使預訂空間就像單擊按鈕一樣簡單。</p>
            </div>
        </div>
    </div>
</div>



<!-- Swiper：精選場地圖片 -->
<div class="container location-category mt-5">
    <h3 class="text-center fs-2 fw-bolder mb-5">在找哪裡的場地？</h3>
    <div class="row text-center px-3 px-md-0">
        <div class="col-12 col-md-5 position-relative mb-2 mb-md-0 pe-md-0">
            <div class="max-slide Taipei h-100">
                <a href="~/Booking/BookingPage" class="d-block w-100 h-100 text-decoration-none text-white">
                    <span class="">台北市</span>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-7 position-relative">
            <div class="swiper swiper-location">
                <div class="swiper-wrapper">
                    <div class="swiper-slide NewTaipeiCity">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">新北</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">桃園</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">新竹</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">苗栗</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">台中</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">彰化</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">雲林</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">嘉義</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">台南</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">高雄</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">屏東</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">宜蘭</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">花蓮</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="d-block w-100 h-100 text-decoration-none text-white">
                            <span class="">台東</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-location-button-next d-none d-md-inline-block"></div>
            <div class="swiper-button-prev swiper-location-button-prev d-none d-md-inline-block"></div>
        </div>
    </div>
</div>


<!-- 精選場地 -->
<!-- <div class="container selected-space mt-5">
<h3 class="text-center fs-2 mb-3">精選場地</h3>
<div class="row justify-content-between p-3 p-xl-4">
    <div class="col-12 col-md-6 col-lg-4 mb-3 position-relative">
      <a href="#" class="text-decoration-none">
        <img src="https://picsum.photos/400/300/?random=1" alt="space" class="w-100">
        <span class="distinct position-absolute">台北市．10人</span>
        <span class="price position-absolute">$400 / hr</span>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3 position-relative">
      <a href="#" class="text-decoration-none">
        <img src="https://picsum.photos/400/300/?random=2" alt="space" class="w-100">
        <span class="distinct position-absolute">台北市．10人</span>
        <span class="price position-absolute">$400 / hr</span>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3 position-relative">
      <a href="#" class="text-decoration-none">
        <img src="https://picsum.photos/400/300/?random=3" alt="space" class="w-100">
        <span class="distinct position-absolute">台北市．10人</span>
        <span class="price position-absolute">$400 / hr</span>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3 position-relative">
      <a href="#" class="text-decoration-none">
        <img src="https://picsum.photos/400/300/?random=4" alt="space" class="w-100">
        <span class="distinct position-absolute">台北市．10人</span>
        <span class="price position-absolute">$400 / hr</span>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3 position-relative">
      <a href="#" class="text-decoration-none">
        <img src="https://picsum.photos/400/300/?random=5" alt="space" class="w-100">
        <span class="distinct position-absolute">台北市．10人</span>
        <span class="price position-absolute">$400 / hr</span>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3 position-relative">
      <a href="#" class="text-decoration-none">
        <img src="https://picsum.photos/400/300/?random=6" alt="space" class="w-100">
        <span class="distinct position-absolute">台北市．10人</span>
        <span class="price position-absolute">$400 / hr</span>
      </a>
    </div>
</div>
</div> -->
<!-- 用戶評價 -->
<div class="container mt-5">
    <h3 class="text-center fs-2 fw-bolder mb-5">用戶評價</h3>
    <div class="row px-3 px-md-0">
        <div class="col-12 position-relative">
            <div class="swiper swiper-comment">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h5 class="name m-0 p-3 fw-bolder">王小明</h5>
                        <p class="content flex-grow-1 m-0 px-3 text-start">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, animi ut. Ad laudantium consequatur commodi repellat corrupti quia et libero beatae rerum ratione, natus quam molestiae, impedit nobis cum nostrum!
                            Eum, fugit harum?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, animi ut. Ad laudantium consequatur commodi repellat corrupti quia et libero beatae rerum ratione, natus quam molestiae, impedit nobis cum nostrum!
                            Eum, fugit harum?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, animi ut. Ad laudantium consequatur commodi repellat corrupti quia et libero beatae rerum ratione, natus quam molestiae, impedit nobis cum nostrum!
                            Eum, fugit harum?
                        </p>
                        <div class="star p-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h5 class="name m-0 p-3 fw-bolder">王小明</h5>
                        <p class="content flex-grow-1 m-0 px-3 text-start">
                            夢幻畢竟表示本週市政府我說並不是群眾時候身體此處，宅宅始終，請在深深她是進步真實改善及其幾次接受可見，顏色配件網際網路，在於分為坐在這一如同，因而簡歷高中歲月回憶女子歐美理解報價發佈時間主席國家升。
                        </p>
                        <div class="star p-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h5 class="name m-0 p-3 fw-bolder">王小明</h5>
                        <p class="content flex-grow-1 m-0 px-3 text-start">
                            夢幻畢竟表示本週市政府我說並不是群眾時候身體此處，宅宅始終，請在深深她是進步真實改善及其幾次接受可見，顏色配件網際網路，在於分為坐在這一如同，因而簡歷高中歲月回憶女子歐美理解報價發佈時間主席國家升。
                        </p>
                        <div class="star p-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h5 class="name m-0 p-3 fw-bolder">王小明</h5>
                        <p class="content flex-grow-1 m-0 px-3 text-start">
                            夢幻畢竟表示本週市政府我說並不是群眾時候身體此處，宅宅始終，請在深深她是進步真實改善及其幾次接受可見，顏色配件網際網路，在於分為坐在這一如同，因而簡歷高中歲月回憶女子歐美理解報價發佈時間主席國家升。
                        </p>
                        <div class="star p-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h5 class="name m-0 p-3 fw-bolder">王小明</h5>
                        <p class="content flex-grow-1 m-0 px-3 text-start">
                            夢幻畢竟表示本週市政府我說並不是群眾時候身體此處，宅宅始終，請在深深她是進步真實改善及其幾次接受可見，顏色配件網際網路，在於分為坐在這一如同，因而簡歷高中歲月回憶女子歐美理解報價發佈時間主席國家升。
                        </p>
                        <div class="star p-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h5 class="name m-0 p-3 fw-bolder">王小明</h5>
                        <p class="content flex-grow-1 m-0 px-3 text-start">
                            夢幻畢竟表示本週市政府我說並不是群眾時候身體此處，宅宅始終，請在深深她是進步真實改善及其幾次接受可見，顏色配件網際網路，在於分為坐在這一如同，因而簡歷高中歲月回憶女子歐美理解報價發佈時間主席國家升。
                        </p>
                        <div class="star p-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h5 class="name m-0 p-3 fw-bolder">王小明</h5>
                        <p class="content flex-grow-1 m-0 px-3 text-start">
                            夢幻畢竟表示本週市政府我說並不是群眾時候身體此處，宅宅始終，請在深深她是進步真實改善及其幾次接受可見，顏色配件網際網路，在於分為坐在這一如同，因而簡歷高中歲月回憶女子歐美理解報價發佈時間主席國家升。
                        </p>
                        <div class="star p-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h5 class="name m-0 p-3 fw-bolder">王小明</h5>
                        <p class="content flex-grow-1 m-0 px-3 text-start">
                            夢幻畢竟表示本週市政府我說並不是群眾時候身體此處，宅宅始終，請在深深她是進步真實改善及其幾次接受可見，顏色配件網際網路，在於分為坐在這一如同，因而簡歷高中歲月回憶女子歐美理解報價發佈時間主席國家升。
                        </p>
                        <div class="star p-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-comment-button-next d-none d-md-inline-block"></div>
            <div class="swiper-button-prev swiper-comment-button-prev d-none d-md-inline-block"></div>
        </div>
    </div>
</div>

<!-- 場地主介紹 -->
<div class="container host-introduction mt-5 p-4 p-xl-5">
    <h3 class="text-center fs-2 fw-bolder mb-5">場地主評價</h3>
    <div class="row align-items-center">
        <div class="d-none d-md-block col-5 overflow-hidden">
            <img src="https://images.unsplash.com/photo-1594744803329-e58b31de8bf5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="host" class="w-100">
        </div>
        <div class="col-12 col-md-7">
            <i class="fas fa-quote-left d-blcok fs-4"></i>
            <p class="fs-4">我從沒想過 ZONERadar 會變成我的收入來源。更重要的是，當場地主很有趣、很簡單，也拓展了我對這個空間的看法。</p>
            <p class="d-none d-md-block">Mary, Hosting in Taipei since 2021</p>
        </div>
        <div class="d-md-none col-12 d-flex align-items-center">
            <div class="div-sm-img d-inline-block rounded-circle overflow-hidden">
                <img src="https://images.unsplash.com/photo-1594744803329-e58b31de8bf5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="host" class="w-100">
            </div>
            <span class="ms-3">Mary, Hosting in Taipei since 2021</span>
        </div>
    </div>
</div>

@section topCSS
{
    <link href="~/Assets/CSS/index/index.css" rel="stylesheet" />
    <link href="~/Assets/CSS/swiper-bundle.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />*@
}

@section endJS
{
    <script src="~/Assets/JS/index/index.js"></script>
    <script src="~/Assets/JS/swiper-bundle.min.js"></script>
    @*<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>*@
}