<div class="no-result-container">
    <img class="no-result d-block mx-auto" src="~/Assets/IMG/NoSearch.png" alt="no-result" />
</div>

@section topCSS {
    <link href="~/Assets/CSS/static/404NotFound.css" rel="stylesheet" />
}
