@{
    ViewBag.Title = "找不到頁面";
}

<div class="not-found-container">
    <img class="not-found d-block" src="~/Assets/IMG/404NotFound.png" alt="404NotFound" />
</div>

@section topCSS {
    <style>
        .not-found-container {
            max-width: 1100px;
            margin: auto;
        }

        .not-found {
            max-width: 100%;
            height: auto;
        }
    </style>
}
