
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- 手機版 -->
    <div class=" col-12 col-sm-12 col-md-12 d-block d-lg-none">
        <div class="ServePage">
            <h2 class="py-4">ZoneRadar 服務條款</h2>
            <p>ZoneRadar 重視使用者的隱私權。ZoneRadar 承諾尊重您的隱私，並對您的個人資料加以保密。本條款旨在幫助您了解 ZoneRadar 如何使用和保護您在使用 ZoneRadar 的資訊、網站、產品和/或服務時所提供的資訊。</p>
            <h3>第一章 總則</h3>
            <ul class="Inside">
                <li>
                    <strong>
                        【第一條 目的】
                    </strong>
                </li>
                <p>本服務條款之訂立係基於好域股份有限公司( 以下稱「本公司」) 旗下所屬之ZoneRadar場地資訊媒合平台(即http://www.ZoneRadarplace.com 以下簡稱為 "ZoneRadar挑場地"或「本網站」)提供網上服務，為釐清並規範本公司和會員之間的權利、義務和責任關係，特訂立本服務條款。</p>
                <li><strong>【第二條 服務條款的公佈和使用】</strong></li>
                <ul class="InsideList">
                    <li>
                        本服務條款的內容告示在 ZoneRadar挑場地申請加入會員的相關網頁，或以其他方式提供給使用者。使用者進行會員申請時，對於本服務條款點選"同意"後，本服務條款即發生效力。
                    </li>
                    <li>
                        ZoneRadar挑場地可隨時修訂本服務條款、隱私權保護政策、免責聲明及現今或嗣後頒布施行之各種規則，並將修訂或變更的內容公佈在 ZoneRadar挑場地的網站上，至公佈日起七日內會員無異議時，上開條款、規則、政策或聲明將自動生效 。
                    </li>
                    <li>
                        ZoneRadar挑場地只提供一個第三方平臺服務，鑒於網路的性質，ZoneRadar挑場地無法辨別及判斷物件來源及會員刊登資料是否真實，敬請交易雙方事前自行查明。如交易一方違反法律規定而與他方產生爭議，由交易雙方自行承擔所有責任，ZoneRadar挑場地概不負責。
                    </li>
                </ul>
                <li>
                    <strong>
                        【第三條 規則以外的準則】
                    </strong>
                </li>
                <p>本服務條款、隱私權聲明、免責聲明及ZoneRadar挑場地現今或嗣後所頒布施行之各種規則未提及的事項將依個人資料保護法、電子簽章法、消費者保護法等規定辦理。</p>
            </ul>
            <h3>第二章 申請服務和許可</h3>
            <ul class="Inside">
                <li><strong>【第四條 簽約的成立與使用單位】</strong></li>
                <ul class="InsideList">
                    <li>本服務條款係對於使用 ZoneRadar挑場地服務之會員所訂立，使用者進行會員申請時，對於本服務條款點選"同意"後，即可開始使用 ZoneRadar挑場地所提供的服務。 </li>
                    <li>未滿二十歲之未成年人( 以下稱未成年會員)若欲申請加入ZoneRadar 挑場地會員以使用本網站提供之服務，應得法定代理人同意，並遵守本服務條款及相關法律規定。若該未成年會員與交易相對人或其他第三人，因使用本網站服務而產生爭議， ZoneRadar挑場地概不負責。當未成年會員使用或繼續使用ZoneRadar挑場地之服務時，即表示法定代理人 ( 或監護人 ) 已閱讀、瞭解並同意接受本服務條款之所有內容及其後續修改或變更。</li>
                    <li>簽約使用以會員帳號為單位，申請通過之後，申請者即登記成為會員。</li>
                    <li>用假名或他人的身份訊息加入會員者，經查證後，必須承擔相關民刑事責任。</li>
                </ul>
                <li><strong>【第五條 服務申請與登記資料】</strong></li>
                <ul class="InsideList">
                    <li>在網路上申請使用服務，必填資料如下：電子郵件信箱(作為會員登入所使用之帳號)、會員本人使用的行動電話號碼、密碼、會員本人於身份證上的姓名、性別、 ZoneRadar挑場地服務之會員所訂立，使用者進行會員申請時，對於本服務條款點選"同意"後，即可開始使用 ZoneRadar挑場地所提供的服務。 </li>
                    <li>加入會員時，若有資料不實或資料錯誤等問題，由登錄者自行負責。</li>
                    <li>本網站管理者若發現登錄不實的資料，有權停止本網站對於該會員的服務並終止服務簽約，本公司或其他第三人因此所受到的損害由該會員負相關損害賠償責任。</li>
                    <li>本公司可藉由簡訊、電子郵件、電話等提供會員關於本公司買賣服務和其他服務的相關資訊。</li>
                </ul>
                <li><strong>【第六條 申請服務准許及限制】</strong></li>
                <ul class="InsideList">
                    <li>欲加入會員者在確認第五條第 1 項所指示的一切資料登錄正確後，申請加入會員即可通過。</li>
                    <li>公司因設備或技術上不足，不得已的狀況下，公司可以保留申請處理服務之期限。</li>
                    <li>
                        有以下任一情形者，不予同意加入會員：
                        <p>Ａ) 以他人的名字申請。</p>
                        <p>Ｂ) 申請服務時，必要登錄之內容不實。 </p>
                        <p>Ｃ) 未滿七歲無行為能力者。</p>
                        <p>Ｄ) 違反會員合約條款被停權者要再加入時。</p>
                        <p>Ｅ) 與已加入會員的註冊電話同樣時。</p>
                        <p>Ｆ) 其他，未履行 ZoneRadar挑場地之申請使用條件時。</p>
                    </li>
                </ul>
            </ul>
            <h3>第三章 使用服務</h3>
            <ul class="Inside">
                <li><strong>【第七條 管理會員帳號等】 </strong></li>
                <ul class="InsideList">
                    <li>會員帳號或密碼資料不能轉讓、出租或借貸予他人。</li>
                    <li>無正當理由，會員不能與他人共用帳號。</li>
                    <li>會員自身的帳號被偷竊或遭第三者盜用時，應立即通報 ZoneRadar挑場地客服，依照客服所指示的步驟處理。</li>
                    <li>會員對自身的帳號和密碼因管理不善或不當之疏失，致所發生的一切後果應自行負責。</li>
                </ul>
                <li><strong>【第八條 服務內容】</strong></li>
                <p>ZoneRadar挑場地提供以下的服務：</p>
                <ul class="InsideList">
                    <li>場地出租服務。</li>
                    <li>場地出借服務。</li>
                    <li>場地刊登廣告服務。</li>
                    <li>場地介紹服務。</li>
                    <li>場地篩選查找服務。</li>
                    <li>場地預約訂位服務。</li>
                    <li>場地訂金金流服務。</li>
                    <li>場地使用者關係及資料管理服務。</li>
                    <li>網站文字及圖檔廣告服務。</li>
                    <li>公告版。</li>
                    <li>活動。</li>
                    <li>其他ZoneRadar挑場地隨時決定提供給會員的服務項目。</li>
                </ul>
                <li><strong>【第九條 服務的維持和中斷】  </strong></li>
                <ul class="InsideList">
                    <li>當有以下狀況發生，ZoneRadar挑場地將暫時停止服務：。</li>
                    <p>A) 為了進行系統設備檢修或障礙排除工作，不得不停止服務時。</p>
                    <p>B) 通訊事業者停止電子通訊服務時。</p>
                    <li>ZoneRadar挑場地為維護良好服務品質及遇有系統故障時，得定期檢修系統設備及為故障排除，於上開檢修及排除期間，將暫時停止系統服務，惟暫停期間不計入會員原有權益。。</li>

                </ul>
            </ul>
            <h3>第四章 服務使用</h3>
            <ul class="Inside">
                <li><strong>【第十條 服務的種類】 </strong></li>
                <ul class="InsideList">
                    <li>ZoneRadar挑場地提供如第八條所示的服務內容。</li>
                    <li>ZoneRadar挑場地對其提供的服務內容保有隨時變動的權利。</li>
                    <li>ZoneRadar挑場地依照服務的種類，各服務的特性、過程及方法等等相關事項都顯示在網頁上，會員應瞭解並遵循ZoneRadar挑場地所公佈的服務事項。</li>
                </ul>
                <li><strong>【第十一條 刊登物件】</strong></li>
                <ul class="InsideList">
                    <li>會員在ZoneRadar挑場地進行物件刊登及修改時，一定要遵守ZoneRadar挑場地之場地及方案刊登規則及留言規則之規定。 </li>
                    <li>在 ZoneRadar挑場地網站上，刊登虛偽不實的訊息，造成自身或他人損失時，會員必須自己負責。</li>
                    <li>刊登物品之內容：</li>
                    <p>A)已經刊登的物品如欲追加或變更內容，仍需遵守ZoneRadar挑場地刊登物件規則，所追加或變更的內容不得違反ZoneRadar挑場地之相關規定，否則您不可以修改任何已經刊登之物品訊息。 </p>
                    <p>B)除非經ZoneRadar挑場地事先之同意，已經成交之場地預約訂單，場地主不可以擅自更動，以免影響場地租借方之權益。</p>
                    <li>會員刊登的義務：</li>
                    <p>A) 會員不得刊登非法物件及虛假、偽造之訊息。 </p>
                    <p>B) 會員必須對自己刊登於ZoneRadar挑場地之訊息，保證其真實有效。如說明不足夠或完備時，導致糾紛時，會員應自行負責。</p>
                    <p>C) 若因不遵守ZoneRadar挑場地相關規定，導致發生的一切後果由會員自行負責。</p>
                    <p>D)ZoneRadar挑場地得依其資料維護規範及相關規定終止會員帳戶服務與刪除所有刊登資料之權利。對於會員重複刊登商品或其他違規行為，ZoneRadar挑場地有權對刊登資料進行刪除或修改。</p>
                    <li>ZoneRadar挑場地有權依據 會員停權規則對違規者停止其會員資格及相關服務。</li>
                </ul>
            </ul>
            <h3>第五章 成交手續費</h3>
            <ul class="Inside">
                <li><strong>【 第十二條 服務成交手續費】</strong></li>
                <p>ZoneRadar挑場地提供場地主與使用者之媒合服務，成交手續費根據場地刊登費用呈現按比例收取。</p>
                <li><strong>【第十三條 手續費繳納方法】</strong></li>
                <p>使用者成功預約並支付訂金於平台方之後， ZoneRadar挑場地將從場地提供者之訂金專屬帳戶扣除成交手續費 。</p>
                <li><strong>【第十四條 結帳】</strong></li>
                <p>ZoneRadar挑場地將匯總每月成立之預訂單，於次月10號(如遇假日順延)，將各場地預訂單總計金額，扣除成交手續費後，開立發票並匯款至指定帳戶內。</p>
            </ul>
            <h3>第六章 保護個人資料</h3>
            <ul class="Inside">
                <li><strong>【第十五條 會員個人資料之蒐集、處理及利用】</strong></li>
                <p>關於您的會員註冊以及其他特定資料依本網站「隱私權聲明」受到保護與規範。您了解當您使用本服務時，您同意本網站依據「隱私權聲明」進行您個人資料的蒐集、處理與利用，包括跨國(境)間的國際傳輸與儲存及本網站及其關係企業內部之利用。本網站「隱私權聲明」之訂定均係依中華民國「個人資料保護法」為準則依據。</p>
            </ul>
            <h3>第七章　損害賠償及免責條款</h3>
            <p>「基於對智慧財產權之尊重與維護，您在此聲明任何您上傳、刊載、傳送、輸入或提供予ZoneRadar挑場地之文字、圖片、檔案、說明等資料(以下稱「資料」)，均為您自行創作或得自他人合法授權，您承諾凡非屬您自行創作或得自他人合法授權之任何資料，您均不會將該資料上載、傳送、輸入或提供予ZoneRadar挑場地；任何資料一經您上載、傳送、輸入或提供予ZoneRadar挑場地時，即表示您同意：</p>
            <ul class="Inside">
                <li><strong>【第十六條 您對ZoneRadar挑場地之授權】</strong></li>
                <ul class="InsideList">
                    <li>由ZoneRadar挑場地搜集、儲存、處理、管理或利用該資料，並由ZoneRadar挑場地之搜尋工具進行索引、抓取、公開刊登及使用於ZoneRadar挑場地的相關系統網路上，包括但不限於ZoneRadar挑場地所有權人好域股份有限公司旗下經營的Lrdoo樂讀網、Kise揪課網及ZoneRadar挑場地於第三人的網站上；</li>
                    <li>無償、永久、不可撤銷的授權ZoneRadar挑場地可以基於公益或為宣傳、推廣或經營ZoneRadar挑場地服務之目的，進行搜集、處理、使用、利用、修改、重製、公開播送、公開發表、公開傳輸、公開上映、翻譯、改作、散布、發行該等資料，並得在此範圍內將前述權利轉授權他人。您並保證ZoneRadar挑場地及上開網站搜集、處理、使用、利用、修改、重製、公開播送、公開發表、公開傳輸、公開上映、翻譯、改作、散布、發行、轉授權該等資料時，不致有侵害任何他人智慧財產權的情事，否則應對ZoneRadar挑場地及其關係企業負損害賠償責任。</li>
                </ul>
                <li><strong>【第十七條 免責條款】</strong></li>
                <ul class="InsideList">
                    <li>本平台無實際交貨、遞送。遞送、交貨為買賣雙方間為履行交易所生的行為，ZoneRadar挑場地並無介入其中，僅提供金流串接服務。</li>
                    <li>ZoneRadar挑場地僅提供交易平台，不涉入會員與交易相對人間之實際交易，對交易衍生之糾紛致生之損害賠償，ZoneRadar挑場地概不負責。</li>
                    <li>關於以下事由， ZoneRadar挑場地概不負責：</li>
                    <p>A)戰爭、事變、天災地變等，國家非常事態，不可抗力的狀況。 </p>
                    <p>B)會員/使用者故意或過失所造成之損害賠償。</p>
                    <p>C)因通信服務提供業者所生之通信障礙。</p>
                </ul>
                <li><strong>【第十八條 代理及保證否認】 </strong></li>
                <ul class="InsideList">
                    <li>ZoneRadar挑場地非會員之代理人。</li>
                    <li>ZoneRadar挑場地對於交易物件之真偽、品質、交付及其他交易條件，不負瑕疵擔保與保證之責。</li>
                    <li>ZoneRadar挑場地所有連結網站皆為獨立營運網站，與各會員之間的互動與交易行為ZoneRadar挑場地概不負責。</li>
                </ul>
                <li><strong>【第十九條 管轄法院】 </strong></li>
                <p>關於會員與 ZoneRadar挑場地因 ZoneRadar挑場地所提供服務所生之糾紛，將依照中華民國法律規定，並合意以臺灣板橋地方法院為第一審管轄法院。  </p>
            </ul>
            <h3>第八章　 智慧財產的保護</h3>
            <ul class="Inside">
                <li><strong>【第二十條 智慧財產的保護】 </strong></li>
                <ul class="InsideList">
                    <li>ZoneRadar挑場地所使用之軟體、圖片、程式、網站上所有內容或刊登公司依競標規則提供予招標需求業主之競標資料，包括但不限於設計圖、施工圖、著作、圖片、檔案、資訊、資料、網站畫面的安排、網頁設計均由ZoneRadar挑場地或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。除與權利人另有約定外，任何人未經 ZoneRadar挑場地及權利人授權或同意，不得擅自使用、修改、重製，公開播送、改作、散佈、公開傳輸、公開發表，進行還原工程解編或反向組繹。如有違反，除依著作權法及相關法律規定論處，並應對ZoneRadar挑場地負損害賠償責任 ( 包括但不限於訴訟費用及律師費用等 ) 。</li>
                    <li>任何有招標需求之會員，對參與競標公司提供之設計圖、施工圖或其他資料，應負永久保密之責，未經權利人之書面同意前，不得任意洩漏、揭露或提供予他人，亦不得使他人使用或利用。</li>
                </ul>
                <li><strong>【第二十一條 著作權侵害處理】 </strong></li>
                <p>ZoneRadar挑場地尊重他人著作權，亦要求我們的使用者同樣尊重他人著作權，您瞭解並同意我們將依據「ZoneRadar挑場地著作權保護政策」保護著作權並處理著作權侵害之事宜。若您認為ZoneRadar挑場地網站中之任何網頁內容已侵害您的著作權，請您詳閱「ZoneRadar挑場地著作權保護政策」後填寫「著作權侵害通知書」，並請依該通知書所載，提供相關資料及聲明並經簽名或蓋章後傳真或寄送予ZoneRadar挑場地。</p>
                <li><strong>【第二十二條 服務內容公告及變動】 </strong></li>
                <p>關於本合約及服務內容所需的修改變動由ZoneRadar挑場地決定後 ，透過本站公告事項來告知詳細內容。 </p>
            </ul>
        </div>
    </div>

    <!-- 電腦版 -->
    <div class="col-10 offset-1 d-none d-lg-block">
        <div class="ServePage">
            <h2 class="py-5">ZoneRadar 服務條款</h2>
            <p>ZoneRadar 重視使用者的隱私權。ZoneRadar 承諾尊重您的隱私，並對您的個人資料加以保密。本條款旨在幫助您了解 ZoneRadar 如何使用和保護您在使用 ZoneRadar 的資訊、網站、產品和/或服務時所提供的資訊。</p>
            <h3>第一章 總則</h3>
            <ul class="Inside">
                <li class="py-2">
                    <strong>
                        【第一條 目的】
                    </strong>
                </li>
                <p>本服務條款之訂立係基於好域股份有限公司( 以下稱「本公司」) 旗下所屬之ZoneRadar場地資訊媒合平台(即http://www.ZoneRadarplace.com 以下簡稱為 "ZoneRadar挑場地"或「本網站」)提供網上服務，為釐清並規範本公司和會員之間的權利、義務和責任關係，特訂立本服務條款。</p>
                <li class="py-2"><strong>【第二條 服務條款的公佈和使用】</strong></li>
                <ul class="InsideList">
                    <li>
                        本服務條款的內容告示在 ZoneRadar挑場地申請加入會員的相關網頁，或以其他方式提供給使用者。使用者進行會員申請時，對於本服務條款點選"同意"後，本服務條款即發生效力。
                    </li>
                    <li>
                        ZoneRadar挑場地可隨時修訂本服務條款、隱私權保護政策、免責聲明及現今或嗣後頒布施行之各種規則，並將修訂或變更的內容公佈在 ZoneRadar挑場地的網站上，至公佈日起七日內會員無異議時，上開條款、規則、政策或聲明將自動生效 。
                    </li>
                    <li>
                        ZoneRadar挑場地只提供一個第三方平臺服務，鑒於網路的性質，ZoneRadar挑場地無法辨別及判斷物件來源及會員刊登資料是否真實，敬請交易雙方事前自行查明。如交易一方違反法律規定而與他方產生爭議，由交易雙方自行承擔所有責任，ZoneRadar挑場地概不負責。
                    </li>
                </ul>
                <li class="py-2">
                    <strong>
                        【第三條 規則以外的準則】
                    </strong>
                </li>
                <p>本服務條款、隱私權聲明、免責聲明及ZoneRadar挑場地現今或嗣後所頒布施行之各種規則未提及的事項將依個人資料保護法、電子簽章法、消費者保護法等規定辦理。</p>
            </ul>
            <h3>第二章 申請服務和許可</h3>
            <ul class="Inside">
                <li class="py-2"><strong>【第四條 簽約的成立與使用單位】</strong></li>
                <ul class="InsideList">
                    <li>本服務條款係對於使用 ZoneRadar挑場地服務之會員所訂立，使用者進行會員申請時，對於本服務條款點選"同意"後，即可開始使用 ZoneRadar挑場地所提供的服務。 </li>
                    <li>未滿二十歲之未成年人( 以下稱未成年會員)若欲申請加入ZoneRadar 挑場地會員以使用本網站提供之服務，應得法定代理人同意，並遵守本服務條款及相關法律規定。若該未成年會員與交易相對人或其他第三人，因使用本網站服務而產生爭議， ZoneRadar挑場地概不負責。當未成年會員使用或繼續使用ZoneRadar挑場地之服務時，即表示法定代理人 ( 或監護人 ) 已閱讀、瞭解並同意接受本服務條款之所有內容及其後續修改或變更。</li>
                    <li>簽約使用以會員帳號為單位，申請通過之後，申請者即登記成為會員。</li>
                    <li>用假名或他人的身份訊息加入會員者，經查證後，必須承擔相關民刑事責任。</li>
                </ul>
                <li class="py-2"><strong>【第五條 服務申請與登記資料】</strong></li>
                <ul class="InsideList">
                    <li>在網路上申請使用服務，必填資料如下：電子郵件信箱(作為會員登入所使用之帳號)、會員本人使用的行動電話號碼、密碼、會員本人於身份證上的姓名、性別、 ZoneRadar挑場地服務之會員所訂立，使用者進行會員申請時，對於本服務條款點選"同意"後，即可開始使用 ZoneRadar挑場地所提供的服務。 </li>
                    <li>加入會員時，若有資料不實或資料錯誤等問題，由登錄者自行負責。</li>
                    <li>本網站管理者若發現登錄不實的資料，有權停止本網站對於該會員的服務並終止服務簽約，本公司或其他第三人因此所受到的損害由該會員負相關損害賠償責任。</li>
                    <li>本公司可藉由簡訊、電子郵件、電話等提供會員關於本公司買賣服務和其他服務的相關資訊。</li>
                </ul>
                <li class="py-2"><strong>【第六條 申請服務准許及限制】</strong></li>
                <ul class="InsideList">
                    <li>欲加入會員者在確認第五條第 1 項所指示的一切資料登錄正確後，申請加入會員即可通過。</li>
                    <li>公司因設備或技術上不足，不得已的狀況下，公司可以保留申請處理服務之期限。</li>
                    <li>
                        有以下任一情形者，不予同意加入會員：
                        <p>Ａ) 以他人的名字申請。</p>
                        <p>Ｂ) 申請服務時，必要登錄之內容不實。 </p>
                        <p>Ｃ) 未滿七歲無行為能力者。</p>
                        <p>Ｄ) 違反會員合約條款被停權者要再加入時。</p>
                        <p>Ｅ) 與已加入會員的註冊電話同樣時。</p>
                        <p>Ｆ) 其他，未履行 ZoneRadar挑場地之申請使用條件時。</p>
                    </li>
                </ul>
            </ul>
            <h3>第三章 使用服務</h3>
            <ul class="Inside">
                <li class="py-2"><strong>【第七條 管理會員帳號等】 </strong></li>
                <ul class="InsideList">
                    <li>會員帳號或密碼資料不能轉讓、出租或借貸予他人。</li>
                    <li>無正當理由，會員不能與他人共用帳號。</li>
                    <li>會員自身的帳號被偷竊或遭第三者盜用時，應立即通報 ZoneRadar挑場地客服，依照客服所指示的步驟處理。</li>
                    <li>會員對自身的帳號和密碼因管理不善或不當之疏失，致所發生的一切後果應自行負責。</li>
                </ul>
                <li class="py-2"><strong>【第八條 服務內容】</strong></li>
                <p>ZoneRadar挑場地提供以下的服務：</p>
                <ul class="InsideList">
                    <li>場地出租服務。</li>
                    <li>場地出借服務。</li>
                    <li>場地刊登廣告服務。</li>
                    <li>場地介紹服務。</li>
                    <li>場地篩選查找服務。</li>
                    <li>場地預約訂位服務。</li>
                    <li>場地訂金金流服務。</li>
                    <li>場地使用者關係及資料管理服務。</li>
                    <li>網站文字及圖檔廣告服務。</li>
                    <li>公告版。</li>
                    <li>活動。</li>
                    <li>其他ZoneRadar挑場地隨時決定提供給會員的服務項目。</li>
                </ul>
                <li class="py-2"><strong>【第九條 服務的維持和中斷】  </strong></li>
                <ul class="InsideList">
                    <li>當有以下狀況發生，ZoneRadar挑場地將暫時停止服務：。</li>
                    <p>A) 為了進行系統設備檢修或障礙排除工作，不得不停止服務時。</p>
                    <p>B) 通訊事業者停止電子通訊服務時。</p>
                    <li>ZoneRadar挑場地為維護良好服務品質及遇有系統故障時，得定期檢修系統設備及為故障排除，於上開檢修及排除期間，將暫時停止系統服務，惟暫停期間不計入會員原有權益。。</li>

                </ul>
            </ul>
            <h3>第四章 服務使用</h3>
            <ul class="Inside">
                <li class="py-2"><strong>【第十條 服務的種類】 </strong></li>
                <ul class="InsideList">
                    <li>ZoneRadar挑場地提供如第八條所示的服務內容。</li>
                    <li>ZoneRadar挑場地對其提供的服務內容保有隨時變動的權利。</li>
                    <li>ZoneRadar挑場地依照服務的種類，各服務的特性、過程及方法等等相關事項都顯示在網頁上，會員應瞭解並遵循ZoneRadar挑場地所公佈的服務事項。</li>
                </ul>
                <li class="py-2"><strong>【第十一條 刊登物件】</strong></li>
                <ul class="InsideList">
                    <li>會員在ZoneRadar挑場地進行物件刊登及修改時，一定要遵守ZoneRadar挑場地之場地及方案刊登規則及留言規則之規定。 </li>
                    <li>在 ZoneRadar挑場地網站上，刊登虛偽不實的訊息，造成自身或他人損失時，會員必須自己負責。</li>
                    <li>刊登物品之內容：</li>
                    <p>A)已經刊登的物品如欲追加或變更內容，仍需遵守ZoneRadar挑場地刊登物件規則，所追加或變更的內容不得違反ZoneRadar挑場地之相關規定，否則您不可以修改任何已經刊登之物品訊息。 </p>
                    <p>B)除非經ZoneRadar挑場地事先之同意，已經成交之場地預約訂單，場地主不可以擅自更動，以免影響場地租借方之權益。</p>
                    <li>會員刊登的義務：</li>
                    <p>A) 會員不得刊登非法物件及虛假、偽造之訊息。 </p>
                    <p>B) 會員必須對自己刊登於ZoneRadar挑場地之訊息，保證其真實有效。如說明不足夠或完備時，導致糾紛時，會員應自行負責。</p>
                    <p>C) 若因不遵守ZoneRadar挑場地相關規定，導致發生的一切後果由會員自行負責。</p>
                    <p>D)ZoneRadar挑場地得依其資料維護規範及相關規定終止會員帳戶服務與刪除所有刊登資料之權利。對於會員重複刊登商品或其他違規行為，ZoneRadar挑場地有權對刊登資料進行刪除或修改。</p>
                    <li>ZoneRadar挑場地有權依據 會員停權規則對違規者停止其會員資格及相關服務。</li>
                </ul>
            </ul>
            <h3>第五章 成交手續費</h3>
            <ul class="Inside">
                <li class="py-2"><strong>【 第十二條 服務成交手續費】</strong></li>
                <p>ZoneRadar挑場地提供場地主與使用者之媒合服務，成交手續費根據場地刊登費用呈現按比例收取。</p>
                <li class="py-2"><strong>【第十三條 手續費繳納方法】</strong></li>
                <p>使用者成功預約並支付訂金於平台方之後， ZoneRadar挑場地將從場地提供者之訂金專屬帳戶扣除成交手續費 。</p>
                <li class="py-2"><strong>【第十四條 結帳】</strong></li>
                <p>ZoneRadar挑場地將匯總每月成立之預訂單，於次月10號(如遇假日順延)，將各場地預訂單總計金額，扣除成交手續費後，開立發票並匯款至指定帳戶內。</p>
            </ul>
            <h3>第六章 保護個人資料</h3>
            <ul class="Inside">
                <li class="py-2"><strong>【第十五條 會員個人資料之蒐集、處理及利用】</strong></li>
                <p>關於您的會員註冊以及其他特定資料依本網站「隱私權聲明」受到保護與規範。您了解當您使用本服務時，您同意本網站依據「隱私權聲明」進行您個人資料的蒐集、處理與利用，包括跨國(境)間的國際傳輸與儲存及本網站及其關係企業內部之利用。本網站「隱私權聲明」之訂定均係依中華民國「個人資料保護法」為準則依據。</p>
            </ul>
            <h3>第七章　損害賠償及免責條款</h3>
            <p>「基於對智慧財產權之尊重與維護，您在此聲明任何您上傳、刊載、傳送、輸入或提供予ZoneRadar挑場地之文字、圖片、檔案、說明等資料(以下稱「資料」)，均為您自行創作或得自他人合法授權，您承諾凡非屬您自行創作或得自他人合法授權之任何資料，您均不會將該資料上載、傳送、輸入或提供予ZoneRadar挑場地；任何資料一經您上載、傳送、輸入或提供予ZoneRadar挑場地時，即表示您同意：</p>
            <ul class="Inside">
                <li class="py-2"><strong>【第十六條 您對ZoneRadar挑場地之授權】</strong></li>
                <ul class="InsideList">
                    <li>由ZoneRadar挑場地搜集、儲存、處理、管理或利用該資料，並由ZoneRadar挑場地之搜尋工具進行索引、抓取、公開刊登及使用於ZoneRadar挑場地的相關系統網路上，包括但不限於ZoneRadar挑場地所有權人好域股份有限公司旗下經營的Lrdoo樂讀網、Kise揪課網及ZoneRadar挑場地於第三人的網站上；</li>
                    <li>無償、永久、不可撤銷的授權ZoneRadar挑場地可以基於公益或為宣傳、推廣或經營ZoneRadar挑場地服務之目的，進行搜集、處理、使用、利用、修改、重製、公開播送、公開發表、公開傳輸、公開上映、翻譯、改作、散布、發行該等資料，並得在此範圍內將前述權利轉授權他人。您並保證ZoneRadar挑場地及上開網站搜集、處理、使用、利用、修改、重製、公開播送、公開發表、公開傳輸、公開上映、翻譯、改作、散布、發行、轉授權該等資料時，不致有侵害任何他人智慧財產權的情事，否則應對ZoneRadar挑場地及其關係企業負損害賠償責任。</li>
                </ul>
                <li class="py-2"><strong>【第十七條 免責條款】</strong></li>
                <ul class="InsideList">
                    <li>本平台無實際交貨、遞送。遞送、交貨為買賣雙方間為履行交易所生的行為，ZoneRadar挑場地並無介入其中，僅提供金流串接服務。</li>
                    <li>ZoneRadar挑場地僅提供交易平台，不涉入會員與交易相對人間之實際交易，對交易衍生之糾紛致生之損害賠償，ZoneRadar挑場地概不負責。</li>
                    <li>關於以下事由， ZoneRadar挑場地概不負責：</li>
                    <p>A)戰爭、事變、天災地變等，國家非常事態，不可抗力的狀況。 </p>
                    <p>B)會員/使用者故意或過失所造成之損害賠償。</p>
                    <p>C)因通信服務提供業者所生之通信障礙。</p>
                </ul>
                <li class="py-2"><strong>【第十八條 代理及保證否認】 </strong></li>
                <ul class="InsideList">
                    <li>ZoneRadar挑場地非會員之代理人。</li>
                    <li>ZoneRadar挑場地對於交易物件之真偽、品質、交付及其他交易條件，不負瑕疵擔保與保證之責。</li>
                    <li>ZoneRadar挑場地所有連結網站皆為獨立營運網站，與各會員之間的互動與交易行為ZoneRadar挑場地概不負責。</li>
                </ul>
                <li class="py-2"><strong>【第十九條 管轄法院】 </strong></li>
                <p>關於會員與 ZoneRadar挑場地因 ZoneRadar挑場地所提供服務所生之糾紛，將依照中華民國法律規定，並合意以臺灣板橋地方法院為第一審管轄法院。  </p>
            </ul>
            <h3>第八章　 智慧財產的保護</h3>
            <ul class="Inside">
                <li class="py-2"><strong>【第二十條 智慧財產的保護】 </strong></li>
                <ul class="InsideList">
                    <li>ZoneRadar挑場地所使用之軟體、圖片、程式、網站上所有內容或刊登公司依競標規則提供予招標需求業主之競標資料，包括但不限於設計圖、施工圖、著作、圖片、檔案、資訊、資料、網站畫面的安排、網頁設計均由ZoneRadar挑場地或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。除與權利人另有約定外，任何人未經 ZoneRadar挑場地及權利人授權或同意，不得擅自使用、修改、重製，公開播送、改作、散佈、公開傳輸、公開發表，進行還原工程解編或反向組繹。如有違反，除依著作權法及相關法律規定論處，並應對ZoneRadar挑場地負損害賠償責任 ( 包括但不限於訴訟費用及律師費用等 ) 。</li>
                    <li>任何有招標需求之會員，對參與競標公司提供之設計圖、施工圖或其他資料，應負永久保密之責，未經權利人之書面同意前，不得任意洩漏、揭露或提供予他人，亦不得使他人使用或利用。</li>
                </ul>
                <li class="py-2"><strong>【第二十一條 著作權侵害處理】 </strong></li>
                <p>ZoneRadar挑場地尊重他人著作權，亦要求我們的使用者同樣尊重他人著作權，您瞭解並同意我們將依據「ZoneRadar挑場地著作權保護政策」保護著作權並處理著作權侵害之事宜。若您認為ZoneRadar挑場地網站中之任何網頁內容已侵害您的著作權，請您詳閱「ZoneRadar挑場地著作權保護政策」後填寫「著作權侵害通知書」，並請依該通知書所載，提供相關資料及聲明並經簽名或蓋章後傳真或寄送予ZoneRadar挑場地。</p>
                <li class="py-2"><strong>【第二十二條 服務內容公告及變動】 </strong></li>
                <p>關於本合約及服務內容所需的修改變動由ZoneRadar挑場地決定後 ，透過本站公告事項來告知詳細內容。 </p>
            </ul>
        </div>

    </div>
</div>

@section topCSS
{
    <link href="~/Assets/CSS/static/StaticPage.css" rel="stylesheet" />
}
