
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <!-- col-7 電腦版 col-12手機板 -->
        <div class="col-lg-7 mt-5 col-sm-12">
            <div class="PriceTable mb-5">
                <!-- Space rental-->
                <div class="BookingRequestForm form-horizontal mt-3">
                    <h2 class="py-3">Review & Pay</h2>
                    <div class="Table table-component">
                        <div class="table-head">
                            <div class="header-row d-flex">
                                <div class="label undefined">Space Rental</div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="add-ons-rows">
                                <div class="d-flex  table-row">
                                    <div class="title-field me-auto">Subtotal</div>
                                    <div data-testing-id="space-rental-subtotal"><span>$200.00</span></div>
                                </div>
                                <div>
                                    <hr class="dotted margin-md-top margin-md-bottom">
                                    <div class="d-flex table-row">
                                        <div class="title-field me-auto">Cleaning</div>
                                        <div data-testing-id="cleaning-fee"><span>$80.00</span></div>
                                    </div>
                                </div>
                                <hr class="dotted margin-md-top margin-md-bottom">
                                <div class="d-flex heavy table-row">
                                    <div class="title-field me-auto">Space rental total</div>
                                    <div data-testing-id="space-rental-total"><span>$280.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Price -->
                <div class="BookingRequestForm form-horizontal mt-3">
                    <div class="Table table-component">
                        <div class="table-head">
                            <div class="header-row d-flex">
                                <div class="label undefined">Space Rental</div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="add-ons-rows">
                                <div class="d-flex  table-row">
                                    <div class="title-field me-auto">Space rental total</div>
                                    <div data-testing-id="space-rental-subtotal"><span>$280.00</span></div>
                                </div>
                                <div>
                                    <hr class="dotted margin-md-top margin-md-bottom">
                                    <div class="d-flex table-row">
                                        <div class="title-field me-auto">Space rental total</div>
                                        <div data-testing-id="cleaning-fee"><span>26.60</span></div>
                                    </div>
                                </div>
                                <hr class="dotted margin-md-top margin-md-bottom">
                                <div class="d-flex heavy table-row">
                                    <div class="title-field me-auto">Total</div>
                                    <div data-testing-id="space-rental-total"><span>$306.60</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <b-c>
                <!-- Cancellation Policy-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Cancellation Policy: Standard 30 day with Grace Period
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    Cancellations within 24 hours after booking confirmation will receive a
                                    fullrefund.
                                    This excludes events starting within 48 hours.
                                </li>
                                <li>Cancellations 30 days in advance will receive a full refund.</li>
                                <li>
                                    Cancellations 30 to 7 days in advance will receive a 50% refund(excludingfees).
                                </li>
                                <li>Cancellations for events starting within 7 days are non refundable.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Host Rules -->
                <p class="mt-5"> <i class="far fa-file-alt"></i> Host Rules</p>
                <!--  -->
                <!-- <button>Read more</button> -->
                <div class="mb-2">
                    <div class="heavy">General Rules</div>
                    <p class="text-gray-600 mt-2" style="word-wrap:break-word; font-size: 14px;">
                        The studio,
                        including the two toilets, will be handed over cleaned by us. With normal use, no final
                        cleaning is expected.
                    <p>
                    <p class="text-gray-600" style="word-wrap:break-word; font-size: 14px;"></p>
                    <p>In the studio there is also a bar with 3m gastronomy refrigerators and a dishwashing
                    area with
                    following 6m bar. The use and consumption of beverages can be individually regulated.
                    </p>
                </div>
                <div>
                    <div>
                        <div class="heavy mt-4">All ages are allowed in the space</div>
                    </div>
                    <div>
                        <div class="heavy mt-4">Production insurance is not required</div>
                    </div>
                    <div>
                        <div class="heavy mt-4">Furniture and decorations may be moved</div>
                    </div>
                    <div>
                        <div class="heavy mt-4">Smoke machines are allowed</div>
                    </div>
                    <div>
                        <div class="heavy mt-4">Nudity is allowed</div>
                    </div>
                </div>
                <div class="mt-4 mb-4">
                    <div class="heavy">Security cameras and recording devices</div>
                    <p class="text" style="white-space:nowrap; font-size: 14px;">
                        Check with your host if
                        there are any surveillance cameras or recording devices in the space.
                    </p>
                    <p class="text" style="word-wrap:break-word; font-size: 14px;">
                        Recording devices in bathrooms or dressing rooms are prohibited by the
                        <a href="#" target="_blank">ZoneRadar Services Agreement</a>

                    </p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        I accept and understand these host rules and disclosures.
                    </label>
                </div>
                <button class="Button btn btn-primary submit-bkg-req-btn mt-4 mb-4 disabled" type="submit"
                        data-testing-id="booking-request-submit-button">
                    <div class="submit-bkg-req-btn">送出</div>
                </button>

        </div>
        <!-- col-5 電腦版 col-12手機板 -->
        <div class="col-lg-5 mt-5 col-sm-12">
            <div class="Host-card sticky-top">
                <h2 class="py-3"> Activity Details </h2>
                <div class="user-informtion">
                    <div class="ps-2">
                        <label class="font-monospace">Host</label>
                    </div>
                    <div class="ps-2 d-flex host-pic">
                        <img src="https://picsum.photos/1920/1080/?random=1">
                        <p class="text-center">整體千萬</p>
                    </div>
                </div>
                <div>
                    <div class="heavy mt-4">Nudity is allowed</div>
                </div>
            </div>
        </div>
    </div>
</div>


@section topCSS
{
    <link href="~/Assets/CSS/Pay/Paypage.css" rel="stylesheet" />
}

@section endJS
{
    <script src="~/Assets/JS/Payment/Paypage.js"></script>
}