
@{
    ViewBag.Title = "AddSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mymain">
    <div class="container editpart  Addspace">
        <div class="row">
            <div class="col mb-3">
                <h5 class="fs-3"> <span>庭瑜</span> ,你好！說說你的場地吧！</h5>
                <p>場地內容分享越詳細，能幫你拿到更多訂單</p>
            </div>
        </div>
        <div class="row  mt-2 mb-2 editDetails ">
            <div class="col-4 col-lg-9 d-flex ">
                <i class="bi bi-circle mt-3 me-3"></i>
                <!-- <i class="bi bi-check-circle-fill "></i> -->
                <span class="textgroup mt-2 ">
                    <h6 class="fs-6">1.位置</h6>
                    <p class="editDetailsp ">地址</p>
                </span>
            </div>
            <div class="col-8 col-lg-3 text-end mt-auto mb-auto  ">
                <a href="AddAddress.html"><button class="btn deleteBtn fsS  deleteWmd ">下一步</button></a>
            </div>
        </div>
        <div class="row editDetails mt-2 mb-2 ">
            <div class="col-12 col-lg-9 d-flex">
                <i class="bi bi-circle mt-3 me-3"></i>
                <span class="textgroup mt-2">
                    <h6 class="fs-6">2.停車位&錄音設備</h6>
                    <p class="editDetailsp">說明是否提供停車位跟錄音設備</p>
                </span>
            </div>
            <div class="col-3 text-end mt-auto mb-auto">
                <!-- <a href="#"><button class="btn deleteBtn  fsS w-50">下一步</button></a>	 -->
            </div>
        </div>
        <div class="row editDetails mt-2 mb-2">
            <div class="col-9 d-flex">
                <i class="bi bi-circle mt-3 me-3"></i>
                <span class="textgroup mt-2">
                    <h6 class="fs-6">3.空間大小</h6>
                    <p class="editDetailsp">客戶可以使用的坪數大小</p>
                </span>
            </div>
            <div class="col-3 text-end mt-auto mb-auto">
                <!-- <a href="#"><button class="btn deleteBtn  fsS w-50">下一步</button></a>	 -->
            </div>
        </div>
        <div class="row editDetails mt-2 mb-2">
            <div class="col-9 d-flex">
                <i class="bi bi-circle mt-3 me-3"></i>
                <span class="textgroup mt-auto mb-auto">
                    <h6 class="fs-6">4.Wifi</h6>
                    <p class="editDetailsp">客戶如何使用Wifi</p>
                </span>
            </div>
            <div class="col-3 text-end mt-auto mb-auto">
                <!-- <a href="#"><button class="btn deleteBtn  fsS w-50">下一步</button></a>	 -->
            </div>
        </div>
        <div class="row editDetails mt-2 mb-2">
            <div class="col-9 d-flex">
                <i class="bi bi-circle mt-3 me-3"></i>
                <span class="textgroup mt-2">
                    <h6 class="fs-6">5.路線</h6>
                    <P class="editDetailsp">說明如何到您的場地</P>
                </span>
            </div>
            <div class="col-3 text-end mt-auto mb-auto">
                <!-- <a href="#"><button class="btn deleteBtn  fsS w-50">下一步</button></a>	 -->
            </div>
        </div>
        <div class="row editDetails mt-2 mb-2">
            <div class="col-12 col-lg-9 d-flex">
                <i class="bi bi-circle mt-3 me-3"></i>
                <span class="textgroup mt-2">
                    <h6 class="fs-6">6.清潔</h6>
                    <P class="editDetailsp">說明希望客戶結束後如何清潔場地</P>
                </span>
            </div>
            <div class="col-3 text-end mt-auto mb-auto">
                <!-- <a href="#"><button class="btn deleteBtn  fsS w-50">下一步</button></a>	 -->
            </div>
        </div>
        <div class="row editDetails mt-2 mb-2">
            <div class="col-12  col-lg-9 d-flex">
                <i class="bi bi-circle mt-3 me-3"></i>
                <span class="textgroup mt-2">
                    <h6 class="fs-6">7.取消政策</h6>
                    <P class="editDetailsp">選擇靈活24小時、30天或90天前取消預定</P>
                </span>
            </div>
            <div class="col-3 text-end">
                <!-- <a href="#"><button class="btn deleteBtn  fsS w-50">下一步</button></a>	 -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12 text-end">
                <a href="#"><button class="btn deleteBtn">完成</button></a>
            </div>
        </div>  -->
    </div>
</div>
@section topCSS
{
    <link href="~/Assets/CSS/membercenter.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
}

