
@{
    ViewBag.Title = "ForgetPassword";
}

<div class="container forget-password-container my-5">
    <div class="">
        <div class="">
            <div class="zone-logo mb-3 text-center">
                <img src="~/Assets/IMG/ZONERadar.png" alt="logo" class="logo">
            </div>
            <div class="reset-title mb-3 text-center">
                <h2>請輸入您的電子郵件</h2>
            </div>
            <form action="~/MemberCenter/ForgetPassword" method="post" class="was-validated">
                <div class="mail-input mb-3 d-sm-flex d-inline-block justify-content-center">
                    <span class="input-group-text" id="inputGroupPrepend">輸入電子郵件</span>
                    <input type="email" class="form-control" id="validationCustomUsername" placeholder="您的電子郵件" aria-describedby="inputGroupPrepend" name="email" required>
                    <div class="invalid-feedback">
                        請輸入有效的Email帳號
                    </div>
                </div>                
                <div class="reset-password mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn">重設密碼</button>
                </div>
            </form>          
        </div>
    </div>
</div>

@section topCSS
{
    <link href="~/Assets/CSS/membercenter/ForgetPassword.css" rel="stylesheet" />
}