@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HadSentResetPasswordEmail";
}

<div class="text-center px-5 my-5">
    <img src="~/Assets/IMG/static/sent-email.png" alt="寄驗證信" class="img-sent-email" />
    <h2 class="mt-5 mb-3">Thank you!</h2>
    <h4 class="mb-3">請至信箱確認信件，並在10分鐘內點擊信內連結以重設密碼。</h4>
    <h3 id="count-down-timer" class="mt-5 mb-3"></h3>
</div>

@section topCSS
{
    <style>
        .img-sent-email {
            width: 300px;
        }
    </style>
}

@section endJS
{
    <script>
        //#region 倒數計時器
        let seconds_remaining;
        function paddedFormat(num) {
            return num < 10 ? "0" + num : num;
        }

        function startCountDown(duration, element) {
            seconds_remaining = duration;
            let min = 0;
            let sec = 0;

            let countInterval = setInterval(function () {
                min = parseInt(seconds_remaining / 60);
                sec = parseInt(seconds_remaining % 60);

                element.textContent = `${paddedFormat(min)}:${paddedFormat(sec)}`;

                seconds_remaining = seconds_remaining - 1;
                if (seconds_remaining < 0) { clearInterval(countInterval) };
            }, 1000);
        }
        //#endregion        

        window.onload = function () {
            //#region 倒數計時器
            let time_minutes = 10; // Value in minutes
            let time_seconds = 0; // Value in seconds

            let duration = time_minutes * 60 + time_seconds;

            element = document.querySelector('#count-down-timer');
            element.textContent = `${paddedFormat(time_minutes)}:${paddedFormat(time_seconds)}`;

            startCountDown(--duration, element);
            //#endregion
        };
    </script>
}