@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center px-5 my-5">
    <img src="~/Assets/IMG/static/sent-email.png" alt="寄驗證信" />
    <h2 class="mt-5">驗證信已寄出，請至信箱確認信件，並在10分鐘內完成身分驗證。</h2>
</div>

@section topCSS
{
    <style>
        img {
            width: 300px;
        }
    </style>
}
@section endJS
{
    <script>
        function paddedFormat(num) {
            return num < 10 ? "0" + num : num;
        }

        function startCountDown(duration, element) {
            let seconds_remaining = duration;
            let min = 0;
            let sec = 0;

            let countInterval = setInterval(function () {

                min = parseInt(seconds_remaining / 60);
                sec = parseInt(seconds_remaining % 60);

                element.textContent = `${paddedFormat(min)}:${paddedFormat(sec)}`;

                seconds_remaining = seconds_remaining - 1;
                if (seconds_remaining < 0) { clearInterval(countInterval) };

            }, 1000);
        }

        window.onload = function () {
            let time_minutes = 10; // Value in minutes
            let time_seconds = 0; // Value in seconds

            let duration = time_minutes * 60 + time_seconds;

            element = document.querySelector('#count-down-timer');
            element.textContent = `${paddedFormat(time_minutes)}:${paddedFormat(time_seconds)}`;

            startCountDown(--duration, element);
        };
    </script>
}