
@{
    ViewBag.Title = "Processing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="membercenter_processing container mt-5 border-bottom">
    <div class="memberbuyer row">
        <h3 class="memberbuyer_title me-4">訂單狀態</h3>
        <ul class="memberbuyer_state d-flex justify-content-start mt-5">
            <a class="me-4" href="Pending">
            <li class="p-2">待處理</li>
            </a>
            <a class="me-4" href="Processing">
            <li class="p-2">處理中</li>
            </a>
            <a class="me-4" href="Completed">
            <li class="p-2">已完成</li>
            </a>
        </ul>
    </div>
</div>
<div class="memberbuyer_container container mt-1">
    <div class="memberbuyer_processing row mt-5 mb-3">
        <div class="col-12">
            <div class="row">
                <div class="memberbuyer_processing_num col-12 mt-3">
                    <div class="memberbuyer_processing_num_row row">
                        <div class="memberbuyer_processing_num_ordernum col-sm-12 col-md-6 col-lg-6">
                            <p>
                                訂單編號：
                                <span class="ms-1">2109020001</span>
                                <a class="p-2 ms-3" href="#">
                                    <i class="far fa-comment-dots me-1"></i>聯繫我
                                </a>
                            </p>
                        </div>
                        <div class="memberbuyer_processing_nun_date col-sm-12 col-md-6 col-lg-6">
                            <p>
                                預定日期：
                                <span>2021.09.02</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="memberbuyer_processing_pic col-sm-12 col-md-12 col-lg-3">
                    <a href="~/Booking/BookingPage">
                        <img class="p-2 mt-2" src="https://picsum.photos/300/200/?random=1">
                    </a>
                </div>
                <div class="memberbuyer_processing_txt col-sm-12 col-md-12 col-lg-9 p-3">
                    <div class="memberbuyer_processing_txt_title mt-3">
                        <a href="~/Booking/BookingPage">
                            高手網易然而安排傳奇目光英文優質，庫存
                        </a>
                    </div>
                    <div class="memberbuyer_processing_txt_introduce mt-3">
                        <p>
                            下午是否昨日這時台北完成書庫恐怖食物頁面模樣個性團結她們，會員價案件學會文件人才說了高興自己的來看試試，治療有效家裡一半手段壓力，紛紛可以，這次義務常用，本文消失本頁業績施工於是推坑王協助電子商務選項和平島，一張夢幻溫暖現代兩種導演我和，長沙身份個性，資。
                        </p>
                    </div>
                    <div class="memberbuyer_processing_txt_iconprice">
                        <div class="memberbuyer_processing_txt_icon">
                            <i class="fas fa-wifi p-3 me-1"></i>
                            <i class="fas fa-video p-3 me-1"></i>
                            <i class="fas fa-briefcase-medical p-3 me-1"></i>
                        </div>
                        <p class="memberbuyer_processing_txt_price_title">
                            訂單價格：
                            <span class="memberbuyer_processing_txt_price">$10000</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="memberbuyer_processing_btn col-12 mt-3 mb-5 d-flex justify-content-end">
            <button class="btn me-2">取消訂單</button>
            <button class="btn me-2">更改訂單</button>
        </div>
    </div>

    <div class="memberbuyer_processing row mt-5 mb-3">
        <div class="col-12">
            <div class="row">
                <div class="memberbuyer_processing_num col-12 mt-3">
                    <div class="memberbuyer_processing_num_row row">
                        <div class="memberbuyer_processing_num_ordernum col-sm-12 col-md-6 col-lg-6">
                            <p>
                                訂單編號：
                                <span class="ms-1">2109020001</span>
                                <a class="p-2 ms-3" href="#">
                                    <i class="far fa-comment-dots me-1"></i>聯繫我
                                </a>
                            </p>
                        </div>
                        <div class="memberbuyer_processing_nun_date col-sm-12 col-md-6 col-lg-6">
                            <p>
                                預定日期：
                                <span>2021.09.02</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="memberbuyer_processing_pic col-sm-12 col-md-12 col-lg-3">
                    <a href="~/Booking/BookingPage">
                        <img class="p-2 mt-2" src="https://picsum.photos/300/200/?random=2">
                    </a>
                </div>
                <div class="memberbuyer_processing_txt col-sm-12 col-md-12 col-lg-9 p-3">
                    <div class="memberbuyer_processing_txt_title mt-3">
                        <a href="~/Booking/BookingPage">
                            高手網易然而安排傳奇目光英文優質，庫存
                        </a>
                    </div>
                    <div class="memberbuyer_processing_txt_introduce mt-3">
                        <p>
                            下午是否昨日這時台北完成書庫恐怖食物頁面模樣個性團結她們，會員價案件學會文件人才說了高興自己的來看試試，治療有效家裡一半手段壓力，紛紛可以，這次義務常用，本文消失本頁業績施工於是推坑王協助電子商務選項和平島，一張夢幻溫暖現代兩種導演我和，長沙身份個性，資。
                        </p>
                    </div>
                    <div class="memberbuyer_processing_txt_iconprice">
                        <div class="memberbuyer_processing_txt_icon">
                            <i class="fas fa-wifi p-3 me-1"></i>
                            <i class="fas fa-video p-3 me-1"></i>
                            <i class="fas fa-briefcase-medical p-3 me-1"></i>
                        </div>
                        <p class="memberbuyer_processing_txt_price_title">
                            訂單價格：
                            <span class="memberbuyer_processing_txt_price">$10000</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="memberbuyer_processing_btn col-12 mt-3 mb-5 d-flex justify-content-end">
            <button class="btn me-2">取消訂單</button>
            <button class="btn me-2">更改訂單</button>
        </div>
    </div>
</div>

@section topCSS{
    <link href="~/Assets/CSS/order_state/membercenter_processing.css" rel="stylesheet" />
}

