
@{
    ViewBag.Title = "ResetPassword";
}

<div class="container reset-password-container my-5">
    <div class="row">
        <div class="col-12">
            <div class="zone-logo d-flex mb-3 justify-content-center">
                <img src="~/Assets/IMG/ZONERadar.png" alt="logo" class="logo">
            </div>
            <div class="reset-title mb-3 d-flex justify-content-center">
                <h2>請輸入您的新密碼</h2>
            </div>
            <form action="~/MemberCenter/ResetPassword" method="post">
                <input type="hidden" value="@ViewBag.Email" name="UserEmail" />
                <div class="new-password mb-3 d-flex justify-content-center">
                    <span class="input-group-text" id="inputGroupPrepend">輸入新密碼</span>
                    <input type="password" name="NewPassword" class="input-password form-control" id="validationCustomUsername1" placeholder="輸入密碼" aria-describedby="inputGroupPrepend">
                </div>
                <div class="confirm-password mb-3 d-flex justify-content-center">
                    <span class="input-group-text" id="inputGroupPrepend">確認新密碼</span>
                    <input type="password" name="NewConfirmPassword" class="confirm-password form-control" id="validationCustomUsername2" placeholder="確認密碼" aria-describedby="inputGroupPrepend">
                </div>
                <div class="reset-password mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn">重設密碼</button>
                </div>
            </form>            
        </div>
    </div>
</div>

@section topCSS
{
    <link href="~/Assets/CSS/membercenter/ResetPassword.css" rel="stylesheet" />
}