html, body {
    position: relative;
    height: 100%;
}
/* #region 幻燈片和首頁搜尋列 */
.homepage-carousel {
    width: 100%;
    /* height: 50%; */
}

    .homepage-carousel .main-title-location {
        top: 90px;
        left: 200px;
        font-size: 35px;
    }

    .homepage-carousel h2.main-title:nth-of-type(1) {
        top: 90px;
        left: 30px;
        font-size: 35px;
    }

    .homepage-carousel h2.main-title:nth-of-type(2) {
        top: 140px;
        left: 30px;
        font-size: 35px;
    }

.slide-img-group {
    height: 45vh;
}

.slide-img {
    opacity: 0;
    transition: 2s;
    background-size: cover;
    background-position: center;
}


.slide-img-show {
    opacity: 1;
    transition: 2s;
}

.homepage-search {
    background-color: #343840;
}

.form-select::-webkit-scrollbar {
    width: 5px;
}

.form-select::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, .7);
}

.homepage-search .form-select {
    font-size: 16px;
    cursor: pointer;
}

    .homepage-search .form-select:focus {
        box-shadow: none;
        border: 1px solid #ced4da;
    }

.homepage-search .select-date {
    font-size: 16px;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    background-color: white;
}

    .homepage-search .select-date:focus {
        outline: none;
    }

    .homepage-search .select-date::placeholder {
        color: #000000;
    }

#homepage-search-submit {
    font-size: 16px;
    background-color: #049DD9;
}

    #homepage-search-submit:hover {
        background-color: #0077a7;
    }

    #homepage-search-submit:focus {
        box-shadow: none;
    }
/* #endregion */

/* #region Swiper：活動類別圖片 */
.swiper-activity {
    width: 100%;
    height: 160px;
}

    .swiper-activity .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-shadow: inset 0px -50px 40px rgba(0, 0, 0, .3);
        border-radius: 2px;
        transition: .3s;

        background-size: cover;
        background-position: center;
    }

        .swiper-activity .swiper-slide:hover {
            opacity: .8;
            transition: .3s;
        }

    
    .swiper-activity .swiper-slide span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
    }

div.swiper-button-next, div.swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
    color: black;
    text-align: center;
    margin-top: -20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}

div.swiper-button-next {
    right: -10px;
}

div.swiper-button-prev {
    left: -10px;
}

    div.swiper-button-next::after, div.swiper-button-prev::after {
        line-height: 40px;
        font-size: 15px;
    }
/* #endregion */

/* #region Why ZONERadar*/
.characteristic-section {
    background: rgb(236, 236, 236);
}

    .characteristic-section p {
        font-size: 18px;
    }

    .characteristic-section .container {
        max-width: 100%;
    }

    .characteristic-section .col-sm-img {
        height: 300px;
        overflow: hidden;
    }

        .characteristic-section .col-sm-img img {
            object-fit: cover;
            object-position: 0px bottom;
        }

    .characteristic-section .col-md-img {
        background-size: cover;
        background-position: center;
    }

    .characteristic-section .col-text {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .characteristic-section .logo-text {
        color: #049DD9;
    }
/* #endregion */

/* #region 地區類別圖片 */
.location-category .row {
    height: 500px;
}

.swiper-location {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .swiper-location .swiper-slide {
        text-align: center;
        height: calc((100% - 10px) / 2);
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

.location-category .swiper-slide, .location-category .max-slide {
    box-shadow: inset 0px -50px 40px rgba(0, 0, 0, .3);
    border-radius: 5px;
    transition: .3s;
    background-size: cover;
    background-position: center;
}

    .location-category .swiper-slide:hover, .location-category .max-slide:hover {
        opacity: .8;
        transition: .3s;        
    }

.location-category span {
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-weight: bolder;
    font-size: 20px;
}
/* #endregion */

/* #region 精選場地 */
.selected-space .img {
    border-radius: 2px;
    transition: .3s;
    background-size: cover;
    background-position: center center;
    padding-top: 75%;
}

    .selected-space .img:hover {
        opacity: .8;
        transition: .3s;
        box-shadow: 0 3px 7px 2px rgba(0, 0, 0, .8);
    }

.selected-space [class*="col"] {
    transform: translateY(0deg);
    transition: .5s;
}

    .selected-space [class*="col"]:hover {
        transform: translateY(-10px);
    }

    .selected-space [class*="col"] span {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
        left: calc(var(--bs-gutter-x) * .25);
        color: white;
        border-radius: 2px;
        font-weight: bolder;
    }

    .selected-space [class*="col"] .distinct {
        background-color: rgba(217, 131, 26, .7);
        top: 15px;
        padding: 8px 20px;
        font-weight: bolder;
    }

    .selected-space [class*="col"] .price {
        background-color: rgba(100, 100, 100, 0.7);
        top: 60px;
        padding: 5px 20px;
    }
/* #endregion */

/* #region 用戶評價 */
.user-comment {
    background-color: #343840;
}

.swiper-comment {
    height: 230px;
}

    .swiper-comment .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        color: white;
        /* background-color: white; */
        /* background-image: linear-gradient(rgb(245, 245, 245), rgb(231, 231, 231)); */
        border-radius: 2px;
        transition: .3s;
    }

        .swiper-comment .swiper-slide:hover {
            background-color: #D9831A;
            transition: .3s;
        }

    .swiper-comment .content {
        font-size: 16px;
        overflow: hidden;
    }
    /* .swiper-comment .content::-webkit-scrollbar {
  width: 5px;
}
.swiper-comment .content::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, .7);
  } */
    .swiper-comment .star {
        color: #eba755;
    }
/* #endregion */

/* #region 場地主介紹 */
.host-introduction {
    border: 10px solid rgb(231, 231, 231);
    border-radius: 5px;
}

    .host-introduction i {
        color: #049DD9;
    }

    .host-introduction .div-sm-img {
        width: 50px;
    }

    .host-introduction .img {
        background-size: cover;
        background-position: center center;
        padding-top: 100%;
    }

    .host-introduction div.d-md-none p {
        font-size: 12px;
    }
/* #endregion */

/* #region 尋找場地 */
.leaseholder-section {
    background-color: #343840;
    padding: 50px 10px;
}

    .leaseholder-section .pic-border {
        border: 4px solid #D9831A;
        border-radius: 3px;
        padding: calc(var(--bs-gutter-x) * .5);
    }

    .leaseholder-section .pic {
        background-size: cover;
        background-position: center;
        padding-top: 70px;
        padding-bottom: 70px;
        border-radius: 5px;
    }

    .leaseholder-section a {
        background-color: #D9831A;
        padding: 12px 32px;
    }

        .leaseholder-section a:hover {
            background-color: #BE7418;
        }

        .leaseholder-section a:focus {
            box-shadow: none;
        }
/* #endregion */

/* #region 成為場地主 */
.host-section {
    padding-top: 130px;
    padding-bottom: 130px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

    .host-section span, .leaseholder-section span {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 20px 9px rgba(255, 255, 255, 0.9);
    }

    .host-section a {
        background-color: #049DD9;
        padding: 16px 32px;
    }

        .host-section a:hover {
            background-color: #0077a7;
        }

        .host-section a:focus {
            box-shadow: none;
        }
/* #endregion */



@media screen and (max-width: 767px) {
    .host-introduction {
        max-width: calc(100% - 3.5rem);
    }
}

@media screen and (min-width: 768px) {
    .homepage-carousel {
        height: calc(70vh - 4.2rem);
    }

    .slide-img-group {
        height: 100%;
    }

    .homepage-carousel .main-title-location {
        top: 200px;
        left: 400px;
        font-size: 70px;
    }

    .homepage-carousel h2.main-title:nth-of-type(1) {
        top: 200px;
        left: 3.75rem;
        font-size: 70px;
    }

    .homepage-carousel h2.main-title:nth-of-type(2) {
        top: 290px;
        left: 3.75rem;
        font-size: 70px;
    }

    .homepage-search {
        top: 410px;
        position: absolute;
        background-color: transparent;
    }

        .homepage-search .form-select, .homepage-search .select-date {
            font-size: 18px;
        }

    #homepage-search-submit {
        font-size: 18px;
    }

    .location-category .row {
        height: 300px;
    }

    .host-introduction img {
        border-radius: 5px;
    }

    .leaseholder-section {
        padding: 100px 0;
    }
}

@media screen and (min-width: 992px) {
    .homepage-carousel {
        height: calc(100vh - 4.2rem);
    }

    .homepage-search form div:last-of-type {
        width: 11%;
    }

    .swiper-activity {
        height: 140px;
    }

    .characteristic-section .col-text {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .location-category .row {
        height: 350px;
    }

    .location-category span {
        bottom: 5%;
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .swiper-activity {
        height: 180px;
    }

    .location-category .row {
        height: 500px;
    }
}
