.container{
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width:576px) {
    .container{
        width: 65%;
    }
    img{
        width: 100%;
    }
    .mail-input{
        width: 100%;
    }
    .input-group-text{
        display: none;
    }
    h2{
        font-size: 17px;
    }
}
.btn{
    background-color: #d9831a;
    color: white;
}
.btn:hover {
    color: white;
}
.btn:focus{
    border-color: #d9831a !important;
    outline: 0;
    box-shadow: none;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: black !important;
    outline: 0;
    box-shadow: none;
}