.container {
    width: 100%;
    max-width: 810px;
}

.profile-title {
    margin-top: 20px;
}

.profile-photo,
.basic-info-title,
.email-preferences {
    margin-top: 30px;
    padding-top: 30px;
}
/*
.profilehead {
    width: 400px;
    height: 300px;
    text-align: center
}
*/
@media (min-width: 768px) {
    .col-form-label {
        display: flex;
        justify-content: flex-end;
    }
    .form-control-info {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .form-control-info {
        width: 100%;
    }
}
.saved-button {
    margin-top: 5px;
}

.email-information {
    margin-bottom: 30px;
}
