.container{
    width: 100%;
    max-width: 600px;
}
h1,h3{
    text-align: center;
}
.profile-title{
    margin-top: 20px;
}
.profile-photo,
.basic-info-title ,
.email-preferences{
    margin-top: 30px;
    padding-top: 30px;
}
.photo-button{
    text-align: center;
}
.head-button{
    margin-top: 30px;
}
.form-control{
    width: 80%;
}
.saved-button{
    margin-top: 5px;
    text-align: center;
}
.form-check-input{
    margin-left: 0;
}
.email-information{
    margin-bottom: 30px;
}
.form-check-input{
    margin-right: 5px;
}