.forget-password-container {
    width: 600px;
}

@media screen and (max-width:576px) {
    .forget-password-container {
        width: 65%;
    }

    .zone-logo img {
        width: 100%;
    }

    .mail-input {
        width: 100%;
    }

    .input-group-text {
        display: none;
    }

    .reset-title h2 {
        font-size: 17px;
    }
}

.reset-password .btn {
    background-color: #d9831a;
    color: white;
}

    .reset-password .btn:hover {
        color: white;
    }

    .reset-password .btn:focus {
        border-color: #d9831a !important;
        outline: 0;
        box-shadow: none;
    }

/*.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: black !important;
    outline: 0;
    box-shadow: none;
}*/
