img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        color: inherit;
    }

p {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

.order-link.now {
    border-bottom: 2px solid #049DD9;
    pointer-events: none;
}

.btn:focus {
    box-shadow: none;
}

.host-order.container {
    max-width: 1100px;
}

.order-card {
    position: relative;
}

    .order-card::after {
        content: '';
        position: absolute;
        width: calc(100% - 24px);
        height: 1px;
        background-color: #cccccc;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.order-id {
    color: #049DD9;
}

.full-refund {
    color: #049DD9;
}

.venue-pic {
    width: 100%;
    padding-top: 60%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.fa-comment-dots {
    cursor: pointer;
    color: #049DD9;
}

.read-more {
    padding-top: 1rem;
    position: relative;
    color: #049DD9;
}

    .read-more::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -3px;
        left: 50%;
        background-color: #049DD9;
        transform: translate(-50%, -50%);
        transition: .3s;
    }


    .read-more::after {
        content: '查看日期';
    }

    .read-more:not(.collapsed)::after {
        content: '隱藏日期';
    }

.datetime-card {
    position: relative;
}

    .datetime-card::after {
        content: '';
        position: absolute;
        width: 92%;
        height: 1px;
        background-color: #cccccc;
        bottom: 0;
        left: 0;
    }

    .datetime-card img {
        max-width: 1em;
    }

.nt,
.total-cost {
    color: #049DD9;
}

.date {
    font-size: 14px
}


.form-control:focus {
    box-shadow: none;
}

.form-control[readonly] {
    background-color: #fff;
}

.search-orders-btn {
    border: 1px solid #ced4da;
}

    .search-orders-btn:hover {
        background-color: #049DD9;
        color: #fff;
    }

.btn_sendout {
    background-color: #049DD9;
    color: #fff;
}

.fa-check {
    color: green;
}

.fa-times {
    color: #E82953;
}

.form-check-input:checked {
    background-color: #049DD9;
    border-color: #049DD9;
}

.form-select {
    border-color: #049DD9;
}

    .form-select:focus {
        box-shadow: none;
        border-color: #049DD9;
    }

.customer_evaluation textarea {
    resize: none;
    border: 1px solid #049DD9;
}
