* {
    margin: 0;
    padding: 0;
}

.about-text-pic {
    max-width: 100%;
    width: 100%;
    min-height: 70%
}

.about-text {
    margin: 0;
}

/* .join-our-team {
    background-image: url("./image/fistbump-over-desk.jpg");
    background-position: top center;
    background-size: cover;
    min-height: 400px;
} */

.about-our-team02 {
    background-position: left center;
    background-image: url(/Assets/IMG/static/About03.jpg);
    background-size: cover;
    height: 300px;
}

.about-our-team01 {
    background-position: left center;
    background-image: url(/Assets/IMG/static/About01.jpg);
    background-size: cover;
    height: 300px;
}

.main-our-team {
    background-position: center center;
    /*object-fit: contain;*/
    height: 85vh;
    background-image: url(/Assets/IMG/static/AboutMain.jpg);
    background-size: cover;
}

.join-our-team {
    background-position: bottom center;
    height: 85vh;
    background-image: url(/Assets/IMG/static/About02.jpg);
    background-size: cover;
}

.container-fluid {
    width: 100%;
}

@media only screen and (min-width: 960px) {
    .about-text {
        margin: 60px 0 60px;
    }
}

/* Serve */
a,
a:hover {
    color: black;
    text-decoration: none;
}

.list-group li:hover {
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #ffa042;
}

.list-group {
    margin: 20px 0 10px;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

h2,
h3 {
    word-wrap: break-word;
    font-size: 30px;
    color: #ffa042;
}

.Inside-static {
    font-size: 17px;
}

.Inside-static-List li {
    list-style-type: decimal;
}

/* summary
{
    text-indent: 25%;
} */
.QuestionPage,
.AboutPage,
.ServePage {
    margin: 20px 0 10px;
}

li {
    list-style-type: none;
}

body {
    word-break: break-all;
}

.ServePage p {
    word-wrap: break-word;
    padding-left: 30px;
}

li p {
    padding: 0 0;
}

.about-text,.about-text-p p {
    text-indent: 15px;
    font-size: 15px;
}

@media only screen and (max-width: 500px) {
    h2, h3 {
        white-space: pre;
    }
}
@media only screen and (max-width: 500px) {
    .about-text h2, h3 {
        white-space: nowrap !important;
    }

    .join-our-team {
        background-position: left right;
        height: 45vh;
        background-image: url(/Assets/IMG/static/About02.jpg);
        background-size: cover;
    }
    .main-our-team {
        background-position: left right;
        /*object-fit: contain;*/
        height: 45vh;
        background-image: url(/Assets/IMG/static/AboutMain.jpg);
        background-size: cover;
    }
}